PowerDNS doesn't honor RFC1982

PowerDNS doesn't correctly rotate SOA serial number according to RFC2182 Section 7.
### (serial on master changed to 4000000000)

Sep 19 11:31:39 dns-g-01 pdns[3787]: AXFR started for '<zone>', transaction started
Sep 19 11:31:39 dns-g-01 pdns[3787]: AXFR done for '0.2.4.e164.arpa', zone committed
### (serial on master changed to 1158658354)

Sep 19 11:33:33 dns-g-01 pdns[3787]: Received NOTIFY for 0.2.4.e164.arpa from master 217.31.204.2, we are up to date: 1158658354<=4000000000
### This is incorrect

Maximum serial number is 2^32 and according to serial number arithmetics described in RFC1982 1158658354 is in fact 5453625650 (addition smaller then 2^31) and thus should be considered as higher then 4000000000.

For more thourough description see RFCs mentioned above.
