auth: can't provision arbitrary octets in PTR rdata via REST API

- [x] This is not a support question, I have read [about opensource](https://www.powerdns.com/opensource.html) and will send support questions to the IRC channel, [GitHub Discussions](https://github.com/PowerDNS/pdns/discussions/) or the mailing list.
- [x] I have read and understood the ['out in the open' support policy](https://blog.powerdns.com/2016/01/18/open-source-support-out-in-the-open/)

 - Program: Authoritative
 - Issue type: Bug report

### Short description
[RFC 6763 Section 4.1.1](https://www.rfc-editor.org/rfc/rfc6763#section-4.1.1) says that "arbitrary Net-Unicode text" can be used in PTR rdata for the purposes of naming instances in the context of this RFC. However, auth's REST API does not accept all octets (e.g., `\040`, `\041`).

### Environment
 - Operating system: Linux
 - Software version: 4.9
 - Software source: PowerDNS repository

### Steps to reproduce
1. Add a PTR record via the REST API that contains `\040`

### Expected behaviour
Should work

### Actual behaviour
Auth says the record is not in expected format

### Other information
@Habbie told me that perhaps there might be a flag for this in the future.