DNSSEC-signed zone with two NSEC3PARAM turns bogus on PowerDNS slave

[RFC 5155, section 4](https://tools.ietf.org/html/rfc5155#section-4) speaks of "the" NSEC3PARAM record, so I don't know how this is possible, but it is. (Honest officer: no gin/tonic involved here. Unfortunately.)

OpenDNSSEC signer creates a signed zone which is AXFRd to a PowerDNS auth 3.4.2. Validating servers which use PowerDNS report SERVFAIL when they query the NSEC3PARAM record.

It turns out that the signer has created *two* NSEC3PARAM records in the zone. (I will be reporting this to the OpenDNSSEC project.) Even so, transferring that zone and verifying it works:

```
$ dig @opendnssec zone AXFR > opendnssec.xfr
$ ldns-verify-zone opendnssec.xfr
Zone is verified and complete
```

Said zone is slaved into PowerDNS. If I transfer and verify from there, the following happens:

```
$ dig @powerdns zone AXFR > powerdns.xfr
$ ldns-verify-zone powerdns.xfr
Error: Bogus DNSSEC signature for xxxx-test.   NSEC3PARAM
There were errors in the zone
```

There are definitely a distinct number of NSEC3PARAM records in the files resulting from the AXFR:

```
$ grep -c "IN        NSEC3PARAM" opendnssec.xfr powerdns.xfr
opendnssec.xfr:2
powerdns.xfr:1
```

The MySQL-backed _domainmetadata_ for the zone contains a single record of kind `NSEC3PARAM`.


My guess is PowerDNS is serving the single NSEC3PARAM from domainmetadata (because that's all it has!) with the RRSIG over the double NSEC3PARAM (because that's all it has!). Not sure what we can or should do about this :)

Well, we agreed in #2214 that _domainmetadata_ content may differ, so the question is: why did the incoming AXFR arbitrarily discard one of the NSEC3PARAM records? :)


Some keys need to be unique. NSEC3PARAM needs to be unique, in fact - otherwise NSEC3 proofs cannot be generated.

By the way - are these records different? What do they look like?

These are the records in each of the AXFR:

```
opendnssec.xfr:xxxx--test. 0    IN      NSEC3PARAM 1 0 5 691AF91671ECC6BF
opendnssec.xfr:xxxx--test. 0    IN      NSEC3PARAM 1 0 5 B0BB1A45784741C0


powerdns.xfr:xxxx--test. 86400 IN       NSEC3PARAM 1 0 5 B0BB1A45784741C0
```

Thanks. I think the only sensible thing PowerDNS could do here is to reject the whole zone. Not sure that's the best bet.

BTW, I also note that PowerDNS has altered the TTL.

It hasn't altered it - it simply hasn't stored it ;)

Issue [submitted](https://issues.opendnssec.org/browse/SUPPORT-156) to the OpenDNSSEC issue tracker.

Could you provide the whole signed zone from OpenDNSSEC somewhere? I wonder whether other zone validators accept it.

Using _validns_ on the transfer from PowerDNS, I see just one error:

* `RRSIG's original TTL differs from corresponding record's` for the RRSIG over the NSEC3PARAM.

Using _validns_ on the transfer out of OpenDNSSEC, I see three each of:

* `no corresponding NSEC3 found for xxx`
* `NSEC3 without a corresponding record (or empty non-terminal)`

FWIW:

```
$ named-checkzone -i full xxxx-test opendnssec.xfr
zone xxxx-test/IN: loaded serial nnnn (DNSSEC signed)
OK

$ named-checkzone -i full xxxx-test powerdns.xfr
zone xxxx-test/IN: loaded serial nnnn (DNSSEC signed)
OK
```

The results from _ldns_verify_zone_ are above.

Sorry: I cannot, currently, provide the zone proper.

This is even better, I didn't have to do the work ;)

I hope this completes the picture somewhat: BIND's DNSSEC logging when explicitly asking for, first a non-existent `A`, then the `SOA`, and finally the `NSEC3PARAM`:

```
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: in authvalidated
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: resuming nsecvalidate
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: looking for relevant NSEC3
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: looking for relevant NSEC3
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: NSEC3 proves name exists (owner) data=0
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test A: nonexistence proof(s) found
dnssec: debug 3: validator @0x7fa22f742a70: dns_validator_destroy
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test SOA: starting
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test SOA: attempting positive response validation
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test SOA: keyset with trust secure
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test SOA: verify rdataset (keyid=48366): success
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test SOA: marking as secure, noqname proof not needed
dnssec: debug 3: validator @0x7fa22f742a70: dns_validator_destroy
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: starting
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: attempting positive response validation
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: keyset with trust secure
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: verify rdataset (keyid=48366): RRSIG failed to verify
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: failed to verify rdataset
dnssec: debug 3: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: verify failure: RRSIG failed to verify
dnssec: info: validating @0x7fa22f742a70: xxxx-test NSEC3PARAM: no valid signature found
dnssec: debug 3: validator @0x7fa22f742a70: dns_validator_destroy
```

@mind04 points out that RFC6781 5.3.3 is pretty clear about there always being just one NSEC3PARAM in a zone, and there also being no need for two being visible when the salt is changing. Unless the OpenDNSSEC issue comes with something really interesting, this ticket will be closed :)

Believe it or not, my right index finger has been hovering over this Close button for almost two hours .. :-)

That's good to hear :)

For the record both NSEC3PARAM salt values seen in the OpenDNSSEC zone seem to result from a _resalt_ procedure. I'm betting it's a [bug in the signer](https://issues.opendnssec.org/browse/SUPPORT-156).

I apologize for the noise.