Declare attribute type 'PdnsDomainId' as Integer

 - Program: Authoritative
 - Issue type: Re-factoring

### Short description

The attribute type _PdnsDomainId_ is currently defined with LDAP syntax Numeric String.
And I wonder why this particular syntax was chosen.

Note:
  * with this syntax a filter `(PdnsDomainId=1)` does not match an attribute value '001'.
  * you cannot use MOD_INCREMENT which this syntax
  * attribute values may contain spaces!  (see [RFC 4517  section 3.3.23](https://datatracker.ietf.org/doc/html/rfc4517#section-3.3.23))

### Usecase

I'm currently thinking about automatically generating _PdnsDomainId_ values (within my web2ldap). The commonly used techniques for generating unique Integer(!) values are to use

  * a pool entry with MOD_INCREMENT on a sequence attribute and/or
  * unique constraints (covering pool entry and generated entries) and/or
  * searching the highest existing ID with server-side sorting.

All of the above is nearly impossible to get right with Numeric String syntax.

### Description

My recommendation:

Declare attribute type _PdnsDomainId_ as Integer (see [RFC 4517 section 3.3.16](https://datatracker.ietf.org/doc/html/rfc4517#section-3.3.16)).

Note: Depending on the specific LDAP server used such a schema change requires re-importing (or least re-indexing) the database.