dnsdist: Support EDNS(0) Padding: RFC 7830 and RFC 8467

 - Program: dnsdist
 - Issue type: Feature request

### Short description
[RFC 7830](https://tools.ietf.org/html/rfc7830) describes the EDNS(0) Padding Option that pads DNS queries and responses to prevent size-based correlation of encrypted DNS messages. The policies and their specific details are further described in [RFC 8467](https://tools.ietf.org/html/rfc8467). Given dnsdist support DNS-over-TLS and DNS-over-HTTPS, it will be good to have support for padding responses to further improve the privacy of DNS responses over an encrypted channel.

### Usecase
[RFC 8932](https://tools.ietf.org/html/rfc8932) details recommendations for DNS privacy operators and recommends enabling padding to mitigate traffic analysis. If dnsdist were to support this feature, recursive resolver operators using dnsdist for their encrypted DNS frontends can enable padding in the DNS response to improve the privacy of communication between the stub resolver and the recursor (or a frontend, such as dnsdist).

dnsdist can have an extra configuration option that allows the user to specify if they want to enable padding or not. To `addDOHLocal`/`addTLSLocal`, we can add an additional `option` called `padResponses`:

```
padResponses: Whether to pad DNS responses as specified in RFC 7830. Default is true, meaning responses are padded.
```

If this is enabled and the other requirements for padding are met (client includes the padding option, request over TCP, encrypted frontend, etc.), then dnsdist should pad the responses to multiples of 468 bytes, as specified in RFC 8467.

### Description
The RFCs mentioned above cover the topic in detail so I will avoid repeating that here. Instead, I will just focus on the current state of padding in different public resolver services and resolver software.

Among the popular public resolvers, both Cloudflare and Google support padding:

```
kdig @1.1.1.1 +tls-ca +tls-host=cloudflare-dns.com example.com 
;; TLS session (TLS1.3)-(ECDHE-X25519)-(ECDSA-SECP256R1-SHA256)-(AES-256-GCM)
;; ->>HEADER<<- opcode: QUERY; status: NOERROR; id: 49200
;; Flags: qr rd ra; QUERY: 1; ANSWER: 1; AUTHORITY: 0; ADDITIONAL: 1

;; EDNS PSEUDOSECTION:
;; Version: 0; flags: ; UDP size: 1232 B; ext-rcode: NOERROR
;; PADDING: 408 B

;; QUESTION SECTION:
;; example.com.        		IN	A

;; ANSWER SECTION:
example.com.        	82389	IN	A	93.184.216.34

;; Received 468 B
;; Time 2021-01-26 15:41:08 EST
;; From 1.1.1.1@853(TCP) in 90.8 ms
```
```
kdig @8.8.8.8 +tls-ca +tls-host=dns.google example.com 
;; TLS session (TLS1.3)-(ECDHE-X25519)-(RSA-PSS-RSAE-SHA256)-(AES-256-GCM)
;; ->>HEADER<<- opcode: QUERY; status: NOERROR; id: 37638
;; Flags: qr rd ra; QUERY: 1; ANSWER: 1; AUTHORITY: 0; ADDITIONAL: 1

;; EDNS PSEUDOSECTION:
;; Version: 0; flags: ; UDP size: 512 B; ext-rcode: NOERROR
;; PADDING: 408 B

;; QUESTION SECTION:
;; example.com.        		IN	A

;; ANSWER SECTION:
example.com.        	1715	IN	A	93.184.216.34

;; Received 468 B
;; Time 2021-01-26 15:41:29 EST
;; From 8.8.8.8@853(TCP) in 95.3 ms
```

A more exhaustive list can be found at [dnsprivacy.org](https://dnsprivacy.org/jenkins/job/dnsprivacy-monitoring/). Given that many of these services are using dnsdist to provide DoH/DoT, they will all benefit from this feature and so will their users.

Among other DNS servers, [Knot](https://knot-resolver.readthedocs.io/en/stable/daemon-bindings-net_tlssrv.html#net.tls_padding) and [BIND](https://bind9.readthedocs.io/en/latest/reference.html) support padding responses.

For clients (and given that servers only pad responses when the client indicates support in the query): the [EDNS(0) padding website](https://edns0-padding.org/implementations/) describes the client implementations; the most notable user-facing client in the list being Android and its Private DNS/DoT mode. Firefox does not support it yet but there is an task for it on [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1543811) while Chromium [seems to support](https://chromium.googlesource.com/chromium/src/+/master/net/dns/dns_query.cc#47) it already.

### Existing Work/Tickets

I have not found existing work or tickets on this topic. The closest I could find was this [Open-Xchange link](https://www.open-xchange.com/about-ox/ox-blog/article/open-xchange-awarded-grant-to-further-develop-privacy-and-trust-enhancing-technologies/) which describes a grant to work on implementing padding; quoting from the above, "We are also developing EDNS(0) padding, both for answers towards the authoritative server as well as for answers back to the client." But I am not aware what the relation to dnsdist/PowerDNS is (if any) and if there has been any public progress on this topic. (I asked on IRC and was told there has been no work on this so far.)

#### Current dnsdist support 

In the current version of dnsdist, there is an [EDNSOptionCode](https://dnsdist.org/reference/constants.html#ednsoptioncode), `EDNSOptionCode.PADDING`. So while this can be used to apply rules/filters on queries with padding, there is no support to change the size of the responses through the Lua configuration.

### Development

Ideally, I would like to follow up on this feature request with a pull request if there is interest. I am trying to assess how much work is involved and when I can get to it but I thought it will be good to document this in the meantime.

I believe this has been considered on the recursor side so far, re: #10002 and #8918

> I believe this has been considered on the recursor side so far, re: #10002 and #8918

Ah indeed, thank you for referencing these tickets. I had not considered them on the recursor side as my understanding was that given dnsdist terminates TLS, that it should deal with this and pad as required. I will leave this open for the time being and perhaps wait for input from the developers.

dnsdist does terminate TLS, but it does generate the answer. So adding the padding in dnsdist would mean more work parsing the answer sent by the client to get the EDNS UDP Payload Size, parsing the response sent by the backend to know where to insert padding (adding an EDNS option unfortunately involves editing the OPT record's `rdlength`), making sure that the response does not already contain padding, then finally adding the padding.
On the other hand the backend does generate the padding already, so I'm currently much more inclined to let the backend know that the query was received over an encrypted channel, by routing these queries to a specific backend, specific port of a backend, or by using the proxy protocol to pass that information. Then the backend can handle the padding when generating the response, which is much more efficient. 

I really should clarify that if someone wants EDNS padding to happen in dnsdist strongly enough to write the code, we would gladly accept that pull request :) 

> dnsdist does terminate TLS, but it does not generate the answer. So adding the padding in dnsdist would mean more work parsing the answer sent by the client to get the EDNS UDP Payload Size, parsing the response sent by the backend to know where to insert padding (adding an EDNS option unfortunately involves editing the OPT record's `rdlength`), making sure that the response does not already contain padding, then finally adding the padding.
> On the other hand the backend does generate the answer already, so I'm currently much more inclined to let the backend know that the query was received over an encrypted channel, by routing these queries to a specific backend, specific port of a backend, or by using the proxy protocol to pass that information. Then the backend can handle the padding when generating the response, which is much more efficient.

Hi and thanks for the response!

I see... I had not anticipated that it would be more work on the recursor side as I assumed that given dnsdist terminates TLS and that encryption protocols have been implemented in dnsdist and not the recursor, that it would be a better fit there and in my (imaginary) implementation I could pad the responses on their way out but I clearly underestimated the complexity of doing it within dnsdist. But now reading your response, I see why it makes sense to do this on the recursor and just forward requests from dnsdist.

 > I really should clarify that if someone wants EDNS padding to happen in dnsdist strongly enough to write the code, we would gladly accept that pull request :)

I trust you to know more about this than I do so I will wait for support to be added on the rec side :) Nevertheless, I look forward to this feature and I will try to be helpful with the existing tickets instead.

Please feel free to close this feature request if you think it is redundant. Thanks!

> I'm currently much more inclined to let the backend know that the query was received over an encrypted channel

Sounds fine to me, but based on our observation this does not happen in PROXYv2 coming from dnsdist, contrary to e.g. haproxy.

That is, unless we're to "guess" that if proxy accepted the query on port 853 or 443, it's a sign of encryption.  The protocol does have `TLV_TYPE_SSL`... well, you can read on our details around https://gitlab.nic.cz/knot/knot-resolver/-/merge_requests/1238#note_243819
- - -
On a related note, I'm a little sad that Quad9 does not pad, even though I don't consider it a significant privacy leak.  But I consider this leak cheap to eliminate, and most of good public resolvers have been padding encrypted answers for a long time.

> Sounds fine to me, but based on our observation this does not happen in PROXYv2 coming from dnsdist, contrary to e.g. haproxy.
> 
> That is, unless we're to "guess" that if proxy accepted the query on port 853 or 443, it's a sign of encryption. The protocol does have `TLV_TYPE_SSL`... well, you can read on our details around https://gitlab.nic.cz/knot/knot-resolver/-/merge_requests/1238#note_243819

You are right, dnsdist does not set `TLV_TYPE_SSL`, and we should really have an option to do that! It should technically be possible to do it using `SetProxyProtocolValuesAction` [1], but a simple option on `newServer` would make much more sense.

[1]: https://dnsdist.org/rules-actions.html#SetProxyProtocolValuesAction

Wouldn't it be good to pass the full protocol information to the backend servers? Currently it seems, that the recursor has no indicator about it and for the protobuf logging in the recursor, just the local L4 protocol (UDP/TCP) is used. What about passing the `SocketProtocol` to the backend according to the proto file and apply that information for the logging as well?
```proto
  enum SocketProtocol {
    UDP = 1;                                    // User Datagram Protocol (RFC 768)
    TCP = 2;                                    // Transmission Control Protocol (RFC 793)
    DOT = 3;                                    // DNS over TLS (RFC 7858)
    DOH = 4;                                    // DNS over HTTPS (RFC 8484)
    DNSCryptUDP = 5;                            // DNSCrypt over UDP (https://dnscrypt.info/protocol)
    DNSCryptTCP = 6;                            // DNSCrypt over TCP (https://dnscrypt.info/protocol)
  }
```
https://docs.powerdns.com/recursor/lua-config/protobuf.html#protocol-buffers-definition

Defining a TLV with such information would be possible, but currently I can't see sufficient motivation to do it.  Note that proxyv2 design is quite generic and simple, as if the proxies wouldn't touch anything deeper than TLS layer. (IIRC most implementations are around https and don't even do UDP.)

Quad9 may be willing to put some small amount of funds towards this being implemented in dnsdist if there is someone out there who wants to pick up the task.  I know that's not the preferred location, but also recall that dnsdist can synthesize answers, which we use extensively, so padding needs to minimally happen as an option inside of dnsdist somehow. If there is going to be the minimal case for completeness, then it may make sense to implement for all queries instead of relying on the backend recursive resolver for this. I would be happy to see dnsdist support both methods - taking padding from backend resolvers, or generating the padding itself if that is not seen from the backend of if local generation is required for synthesized replies.

Thanks for the update @rgacogne and @johnhtodd! I wanted to share an existing bug report as a reminder about the issues with doing padding in pdns-recursor when used with dnsdist and in cases where ECS is enabled (#10884) which results in an incorrect padding, so perhaps doing it in dnsdist might be more helpful. (For cases where ECS is not a consideration, doing it in pdns-recursor itself where it already supports padding is fine of course).

I came up with a hack in Lua to do padding. But possibly this should be more "core" for purposes of speed.  I could see a new DNSResponseAction.Pad function, perhaps?  Again: we're still willing to do this work, if we can get some guidance on what would be acceptable.

Here's the Lua hack (for 2.1.0 - leaves DO53 alone; there is a slightly different version for older versions)  Note: we are not running this yet as we have not evaluated the ugly-looking impact on performance. Caveat: this was AI-assisted but mostly me for the first iterations. The full "scanner" that goes through the whole payload is mostly not my work. NOT PRODUCTION TESTED. You have been warned.

```
-- RFC 8467 §4.1 EDNS Padding for encrypted DNS transports (DoT, DoH, DoQ, DoH3)
-- Requires dnsdist 2.1.0+ (IncomingProtocolRule)
-- Uses dr:getContent() / dr:setContent() to insert EDNS padding into OPT record.
-- Pads responses to the next multiple of 468 bytes per RFC 8467 §4.1.
-- EDNS PADDING option code = 12; TLV header is 4 bytes (code u16 + length u16).
--
-- OPT record structure (RFC 6891):
--   1 byte  - root name (0x00)
--   2 bytes - type OPT (0x0029)
--   2 bytes - UDP payload size
--   1 byte  - extended rcode
--   1 byte  - EDNS version
--   2 bytes - flags
--   2 bytes - RDLENGTH
--   N bytes - RDATA (existing option TLVs, if any)
--
-- findOPTRecord walks the DNS wire format properly:
--   - skips the question section by parsing QNAME labels
--   - skips answer/authority/additional RRs by parsing each record header
--   - handles DNS name compression pointers (0xC0 prefix) correctly
--   - stops at the first OPT record (TYPE 41) in the additional section
--   - returns nil if no OPT record is found or packet is malformed

local PADDING_BLOCK  = 468
local PADDING_OPTION = 12
local MAX_PAD        = PADDING_BLOCK * 3  -- skip padding beyond 1404 bytes

-- Precompute a zero-byte buffer at startup to avoid per-packet allocation.
local zeroPad = string.rep("\000", MAX_PAD)

-- Skip a DNS name (sequence of labels or compression pointer) starting at
-- offset pos (1-based). Returns the offset of the first byte after the name,
-- or nil if the packet is malformed or pos is out of bounds.
-- Compression pointers (high two bits = 11) consume exactly 2 bytes and
-- terminate the name; we do not follow the pointer since we only need to
-- advance past the name, not decode it.
local function skipName(content, sz, pos)
  local iterations = 0
  while pos <= sz do
    iterations = iterations + 1
    if iterations > 128 then
      -- Guard against malformed packets with pointer loops.
      return nil
    end
    local b = string.byte(content, pos)
    if b == nil then
      return nil
    end
    local high2 = math.floor(b / 64)
    if high2 == 3 then
      -- Compression pointer: 2 bytes total, name ends here.
      return pos + 2
    elseif high2 == 0 then
      if b == 0 then
        -- Zero-length label: root, name ends here.
        return pos + 1
      else
        -- Normal label: skip length byte + b bytes of label data.
        pos = pos + 1 + b
      end
    else
      -- Labels with high bits 01 or 10 are reserved; treat as malformed.
      return nil
    end
  end
  return nil
end

-- Skip one complete resource record starting at offset pos (1-based).
-- Returns the offset of the first byte after the record, or nil if malformed.
local function skipRecord(content, sz, pos)
  -- Skip owner name.
  pos = skipName(content, sz, pos)
  if pos == nil then return nil end
  -- Need TYPE (2) + CLASS (2) + TTL (4) + RDLENGTH (2) = 10 bytes.
  if pos + 9 > sz then return nil end
  local rdlen = string.byte(content, pos + 8) * 256
              + string.byte(content, pos + 9)
  pos = pos + 10 + rdlen
  if pos - 1 > sz then return nil end
  return pos
end

-- Walk the DNS wire format to locate the OPT record in the additional section.
-- Returns the 1-based offset of the OPT record's root label (0x00 byte), or
-- nil if not found or the packet is malformed.
local function findOPTRecord(content, sz)
  if sz < 12 then return nil end

  local qdcount = string.byte(content, 5)  * 256 + string.byte(content, 6)
  local ancount = string.byte(content, 7)  * 256 + string.byte(content, 8)
  local nscount = string.byte(content, 9)  * 256 + string.byte(content, 10)
  local arcount = string.byte(content, 11) * 256 + string.byte(content, 12)

  local pos = 13  -- first byte after the 12-byte DNS header

  -- Skip question section: QNAME + QTYPE (2) + QCLASS (2).
  for _ = 1, qdcount do
    pos = skipName(content, sz, pos)
    if pos == nil then return nil end
    pos = pos + 4  -- QTYPE + QCLASS
    if pos - 1 > sz then return nil end
  end

  -- Skip answer and authority sections entirely.
  for _ = 1, ancount + nscount do
    pos = skipRecord(content, sz, pos)
    if pos == nil then return nil end
  end

  -- Walk additional section looking for the OPT record (TYPE = 41 = 0x0029).
  for _ = 1, arcount do
    local recStart = pos
    -- Peek at the name: OPT records always use the root label (single 0x00).
    if pos > sz then return nil end
    pos = skipName(content, sz, pos)
    if pos == nil then return nil end
    -- Need at least TYPE (2 bytes).
    if pos + 1 > sz then return nil end
    local rrtype = string.byte(content, pos)     * 256
                 + string.byte(content, pos + 1)
    if rrtype == 41 then
      -- Found OPT record; return offset of its root label.
      return recStart
    end
    -- Not OPT; skip the rest of this record.
    -- We already consumed the name; now skip TYPE(2)+CLASS(2)+TTL(4)+RDLENGTH(2)+RDATA.
    if pos + 9 > sz then return nil end
    local rdlen = string.byte(content, pos + 8) * 256
                + string.byte(content, pos + 9)
    pos = pos + 10 + rdlen
    if pos - 1 > sz then return nil end
  end

  return nil  -- No OPT record found.
end

local function edns8467PaddingAction(dr)
  local content = dr:getContent()
  local sz      = #content

  if sz >= MAX_PAD then
    return DNSResponseAction.None
  end

  -- Account for the 4-byte padding TLV header we will add.
  local remainder = (sz + 4) % PADDING_BLOCK
  local padLen    = (remainder == 0) and 0 or (PADDING_BLOCK - remainder)

  if padLen == 0 then
    return DNSResponseAction.None
  end

  local optOffset = findOPTRecord(content, sz)
  if optOffset == nil then
    return DNSResponseAction.None
  end

  -- RDLENGTH is at optOffset + 9 (2 bytes, big-endian).
  -- OPT record layout from optOffset:
  --   +0  root label (1 byte)
  --   +1  type OPT  (2 bytes)
  --   +3  UDP payload size (2 bytes)
  --   +5  extended rcode (1 byte)
  --   +6  EDNS version (1 byte)
  --   +7  flags (2 bytes)
  --   +9  RDLENGTH (2 bytes)
  --   +11 RDATA start
  local rdLenOffset = optOffset + 9
  if rdLenOffset + 1 > sz then
    return DNSResponseAction.None
  end

  local oldRdLen   = string.byte(content, rdLenOffset)     * 256
                   + string.byte(content, rdLenOffset + 1)
  local newRdLen   = oldRdLen + 4 + padLen

  -- Build updated RDLENGTH bytes.
  local newRdLenHi = math.floor(newRdLen / 256)
  local newRdLenLo = newRdLen % 256

  -- Build padding option TLV.
  local optCode  = string.char(0, PADDING_OPTION)
  local optLen   = string.char(math.floor(padLen / 256), padLen % 256)
  local padBytes = string.sub(zeroPad, 1, padLen)

  -- Reconstruct packet:
  --   bytes up to (but not including) RDLENGTH field
  --   + updated RDLENGTH (2 bytes)
  --   + existing RDATA (if any)
  --   + new padding TLV
  local newContent = string.sub(content, 1, rdLenOffset - 1)
                  .. string.char(newRdLenHi, newRdLenLo)
                  .. string.sub(content, rdLenOffset + 2)
                  .. optCode .. optLen .. padBytes

  dr:setContent(newContent)

  return DNSResponseAction.None
end

-- Protocol filtering is handled at the rule level by IncomingProtocolRule,
-- so plain Do53 UDP/TCP traffic never enters the Lua function.
addResponseAction(
  OrRule({
    IncomingProtocolRule("DoT"),
    IncomingProtocolRule("DoH"),
    IncomingProtocolRule("DoQ"),
    IncomingProtocolRule("DoH3"),
  }),
  LuaResponseAction(edns8467PaddingAction)
)
```

> Hi John! I have not looked at the Lua code, but to answer your last question I would be happy to merge a PR implementing EDNS padding in C++. I don't have any design in my mind right now, except that I think an option to relevant frontends would make more sense to me than a ResponseAction. I would be happy to help anyone giving it a shot in any case, just ping me and we can brainstorm together.

I planned on picking this up. It makes sense to add it to the frontends, but would having both options also work, for flexibility? Not sure if there are separate valid use-cases.