DNSSEC validation with +AD in the query

[RFC 6840 § 5.7](https://tools.ietf.org/html/rfc6840#section-5.7) specifies that a client sending a query with the AD bit set "understands and is interested in the value of the AD bit in the response". In discussion with @Habbie, this means to us 'please do DNSSEC validation'. As such, with `dnssec` set to anything but `off`, we should validate the records for these clients and send the appropriate response. 

This image explains the expected responses of the recursor based on flags, `dnssec` setting and DNSSEC status.
![This image](http://i.imgur.com/GuIwX2S.png)

In the same discussion, it was concluded that the DO bit on a query means 'give me DNSSEC records'. This means that responses will only be validated based on the `dnssec` setting and the CD bit.

I discovered this issue with alpha1 [at the end of December 2015](https://blog.powerdns.com/2015/12/24/technical-preview-releases-of-authoritative-server-recursor-and-dnsdist/) but I took time to understand it, and I forgot to submit this one. For this moment, I'm using PowerDNS 4.0 Alpha 2 as an authoritative DNS server and, on another server, Unbound 1.5.8 as a DNS resolver because Unbound does not miss the AD bit during DNSSEC validation.