xfrName needs to know whether the name needs to be canonic for DNSSEC

 - Program: all involving DNSSEC
 - Issue type: Bug report

### Short description

Right now `xfrName` only knows whether the name can "usually" be compressed or not; for DNSSEC the underlying `DNSPacketWriter` enables `setCanonic` (disables compression) and `setLowercase` (except in one place, where it doesn't enable `setLowercase` for `NSEC` records; but there are still other places where `NSEC` might be serialized with lowercase).

As far as I can tell [RFC 4034 section 6.2](https://tools.ietf.org/html/rfc4034#section-6.2), updated by [RFC 6840 section 5.1](https://tools.ietf.org/html/rfc6840#section-5.1), specifies for which types the names (in RDATA) must be in lowercase form (compression must never be used; but all types that use compression are in the lowercase list anyway).

So:
- `NSEC` might use lowercase when it shouldn't
- `ALIAS` almost certainly is wrong. But maybe it should be ignored for signing anyway...

### Description

It would probably be wise to change the `bool compress` parameter for `xfrName` to some enum:

```c++
enum class NameWireFormat {
    Compressed, // types 0x01..0x10, RFC 1035; always Canonic for DNSSEC.
    Canonic, // defined by RFC 4034 and RFC 6840. lowercase for DNSSEC.
    AsIs, // everything else
};
```

boolean parameters are usually hard to read (even worse with default values...); I recommend avoiding them completely apart from `setFeature(bool onOff)` :)