Auth serves RRsets with differing TTLs in them

 - Program: Authoritative
 - Issue type: Bug report

### Short description
PowerDNS Authoritative server serves RRsets with differing TTLs.

### Environment
 - Operating system: Centos 7
 - Software version:  `pdns-4.5.0-0.alpha0.master.1332.gfb5f5a10b.1pdns.el7.x86_64`
 - Software source: PowerDNS repository

### Steps to reproduce

1. Create a zone and add an additional NS

```console
$ pdnsutil create-zone example ns1.example.
Creating empty zone 'example'
Also adding one NS record

$ pdnsutil add-record example. . NS 10800 3h.example.
New rrset:
example. 3600 IN NS ns1.example.
example. 10800 IN NS 3h.example.
```

2. Query the NS RRset

```console
$ dig @127.0.0.1 example. NS
;; ANSWER SECTION:
example.		3600	IN	NS	ns1.example.
example.		10800	IN	NS	3h.example.
```

3. `check-zone` correctly reports the mistake

```console
$ pdnsutil check-zone example.
[Error] TTL mismatch in rrset: 'example IN NS 3h.example' (3600 != 10800)
Checked 3 records of 'example', 1 errors, 0 warnings.
```

4. If the zone is modified with `edit-zone`, the error is detected and a correction is enforced:

```console
$ pdnsutil edit-zone example.
[Error] TTL mismatch in rrset: 'example IN NS 3h.example' (3600 != 10800)
Checked 3 records of 'example', 1 errors, 0 warnings.
There was a problem with your zone
Options are: (e)dit your changes, (r)etry with original zone, (a)pply change anyhow, (q)uit: 

<e>

```


### Expected behaviour

I would have liked seeing `add-record` complain about the difference in TTL, but that is probably quite difficult to accomplish. :-) 

When serving the RRset, I would expect PowerDNS to respond with the same TTL on all records of the set, as [RFC 2181, section 5.2](https://datatracker.ietf.org/doc/html/rfc2181#section-5.2) specifies

> In no case may a server send an RRSet with TTLs not all equal.

### Actual behaviour

as shown above:

```console
$ dig @127.0.0.1 example. NS
;; ANSWER SECTION:
example.		3600	IN	NS	ns1.example.
example.		10800	IN	NS	3h.example.
```



#7230 is a subset of this issue.

I was curious if we broke this recently, but auth 4.3.0 has the same problem.