Not all valid address formats for AAAA accepted

<!-- Tell us what is issue is about -->
 - Program: Authoritative
 - Issue type: Bug report

### Short description
<!-- Explain in a few sentences what the issue/request is -->

PDNS does not accept AAAA records in the format

`2001:db8::1.2.3.4`

i.e., with an embedded IPv4 address at the end, as per RFC 4291 (Section 2.2, Paragraph 3)

Attempts to add such records to a zone (i.e., through the API) yield the following error:

`{"error": "Record foobar.example.net./AAAA '2001:db8::1.2.3.4': Invalid IPv6 address"}`

Also: When using  `pdnsutil load-zone ...` it complains about this format, but _converts_ them anyway into "full hex format" addresses, i.e. 2001:db8::1.2.3.4 → 2001:db8::0102:0304

### Environment
<!-- Tell us about the environment -->
 - Operating system: Linux; Ubuntu 18.04
 - Software version: PowerDNS Authoritative Server 4.2.0-rc3
 - Software source: PowerDNS repository

### Steps to reproduce
Add a record in the above format to a zone. The method doesn't matter.
(I tried Opera's DNS-U and pdnsutil)

### Expected behaviour
It would be nice, if PDNS would both "eat" this format and also _retain_ it (i.e., _not_ convert it to all-hex)

### Actual behaviour
As described above. Attempts to add such a record via the API (using DNS-UI) yields the error shown above. Zone imports through pdnsutil create warnings, but import the data anyway, yet converting it to all-hex format.

### Other information
My use-case: I am using NAT64 **a lot** to hide IPv4-only-speaking devices with private IPv4 addresses behind public IPv6 prefixes.

Thanks for all your efforts and the great _product_ PowerDNS! I very much appreciate it!
(this is my first bug-report here, please excuse potential mistakes)

IT seems that since 1e5b9ab91512cfc71d1714185cc80bf8ba69fca9 we explicitly check that there is no dot in the IPv6 string, I'm not sure why. Perhaps we should replace the `inet_pton(AF_INET6, rr.content.c_str(), &tmpbuf) != 1 || rr.content.find('.') != string::npos` check by trying to construct a `ComboAddress` from the string?

I've moved this to milestone 4.3.0. The validity checks in the API rely heavily on data surviving a roundtrip from presentation format, to wire format, and back. To do what you ask for would involve some refactoring.

Fair enough. Thanks.

It seems the API always outputs ipv4Mapped addresses in decimal format (and also stores them in the DB like that), but only accepts hex format on input, resulting in needless conversions being necessary on the client.

Hi, I encountered this warning while executing the dnsutil check-all-zones command. Is this warning related to the current issue?

```text
[Warning] Following record is not a valid IPv6 address: example.com IN AAAA '::ffff:1.2.3.4'
```

Program: Authoritative
Version: 4.7.4



This is a duplicate of #15569 which has been fixed recently.