Incomplete (RFC 1035) TTL parsing

PowerDNS doesn't seem to pass TTLs from one RR to next when parsing zone files lacking the $TTL directive.

Example zone,

```
;$TTL 3600
@ IN 7200 SOA ns1 zonemaster (0 0 0 0 0)
www IN A 127.0.0.1
@ NS ns1
ns1 A 127.0.0.1
```

Bind parse,

```
testzone.txt:3: using RFC1035 TTL semantics
zone example.com/IN: loaded serial 0
example.com.                      7200 IN SOA   ns1.example.com. zonemaster.example.com. 0 0 0 0 0
example.com.                      7200 IN NS    ns1.example.com.
ns1.example.com.                  7200 IN A     127.0.0.1
www.example.com.                  7200 IN A     127.0.0.1
OK
```

PowerDNS parse, note that unset TTLs are zero:

``` json
$ zone2json --zone-name=example.com. --zone=testzone.txt  | jq
1 domains were fully parsed, containing 4 records
{
  "name": "example.com.",
  "records": [
    {
      "name": "example.com.",
      "type": "SOA",
      "ttl": 7200,
      "prio": 0,
      "content": "ns1.example.com. zonemaster.example.com. 0 0 0 0 0"
    },
    {
      "name": "www.example.com.",
      "type": "A",
      "ttl": 0,
      "prio": 0,
      "content": "127.0.0.1"
    },
    {
      "name": "example.com.",
      "type": "NS",
      "ttl": 0,
      "prio": 0,
      "content": "ns1.example.com"
    },
    {
      "name": "ns1.example.com.",
      "type": "A",
      "ttl": 0,
      "prio": 0,
      "content": "127.0.0.1"
    }
  ]
}
```

RFC 1035, section 5.1, states 

> Omitted class and TTL values are default to the last explicitly stated values.

The $TTL directive was introduced in RFC 2308, section 4, which states,

> All resource records appearing after the directive, and which do not
> explicitly include a TTL value, have their TTL set to the TTL given
>  in the $TTL directive. 

The implication here is that records _before_ the $TTL directive should maintain the behaviour specified in  RFC 1035, which is what BIND does today in practice.


rfc2308 actually deprecates using the SOA minimum field as a default TTL

This is completely handled, including a mention in 4.1 release notes.