Auth DNSSEC: possible issue with keys of different algos

According to [RFC 6840 Section 5.11](https://tools.ietf.org/html/rfc6840#section-5.11)

> The zone MUST also be signed with each algorithm (though not each key) present in the DNSKEY RRset.

The following combination of keys in PowerDNS (3.4.2) breaks this rule, I think.

```
$ pdnsec check-zone sub.p01.aa
Checked 4 records of 'sub.p01.aa', 0 errors, 0 warnings.

$ pdnsec show-zone sub.p01.aa
Zone is not presigned
Zone has NSEC semantics
keys:
ID = 5 (KSK), tag = 11741, algo = 12, bits = 256        Active: 1 ( ECC-GOST )
KSK DNSKEY = sub.p01.aa IN DNSKEY 257 3 12 glfaEUdhiNYUQ3NoxD/DPmqNlOKPWmWyuPpYnxAI/sfFJzZruYkMJDkZHkoqwNaM9Bto1XgLE/QnL8W43RUMPg== ; ( ECC-GOST )
DS = sub.p01.aa IN DS 11741 12 1 ec8d4deb45484685d79aafefedb6b501e8aa153f ; ( SHA1 digest )
DS = sub.p01.aa IN DS 11741 12 2 d5d3d702b16c546b44b1dcfe15b08d2ca02913010a15441102ce29ed89f694cf ; ( SHA256 digest )
DS = sub.p01.aa IN DS 11741 12 3 4feebf42250e2e673bf8a1680e9d96339de05a8a374d8e262638993bec7ce8d8 ; ( GOST R 34.11-94 digest )
DS = sub.p01.aa IN DS 11741 12 4 efa9041466115f450c5dee7d10e02d221e940e54f925bc5187b6c86dab9f8f3693075392f9818c44d3f5a96d09e8a859 ; ( SHA-384 digest )

ID = 4 (ZSK), tag = 975, algo = 8, bits = 1024  Active: 1 ( RSASHA256 )
```

Querying an Unbound 1.5.1 validator for the SOA:

```
$ dig +ad @localhost sub.p01.aa soa +dnssec
 <<>> DiG 9.8.4-rpz2+rl005.12-P1 <<>> +ad @localhost sub.p01.aa soa +dnssec
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: SERVFAIL, id: 6071
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 4096
;; QUESTION SECTION:
;sub.p01.aa.                    IN      SOA
```

produces

```
unbound[1304:0] info: validation failure <sub.p01.aa. SOA IN>: no signatures with algorithm ECC-GOST from 192.168.1.114
```

However, querying it for the DNSKEY RRset:

```
$ dig +ad @localhost sub.p01.aa dnskey +dnssec
; <<>> DiG 9.8.4-rpz2+rl005.12-P1 <<>> +ad @localhost sub.p01.aa dnskey +dnssec
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 31309
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 4096
;; QUESTION SECTION:
;sub.p01.aa.                    IN      DNSKEY

;; ANSWER SECTION:
sub.p01.aa.             414     IN      DNSKEY  257 3 12 glfaEUdhiNYUQ3NoxD/DPmqNlOKPWmWyuPpYnxAI/sfFJzZruYkMJDkZ HkoqwNaM9Bto1XgLE/QnL8W43RUMPg==
sub.p01.aa.             414     IN      DNSKEY  256 3 8 AwEAAeM+rdd/DFFOUjU/ZPBGcWvnLC6wJ50iO00qw795Ou0Ja8yAIWG8 WFQLswh6H9mCU7oyvpf9TIV8sEc+SrtQKh8+BXCTiPmdaq4hDXWLsTQk blrstKt4krq0PxKQJd7py84/XaUG3vfe7ddNX3bKLEHEetpHGH3Qb026 BfT+AQLL
sub.p01.aa.             414     IN      RRSIG   DNSKEY 12 3 603 20150219000000 20150129000000 11741 sub.p01.aa. L97ijGyG8brPXnkv+1EL4cHlHTXF+23B/f7rEgTeme6SkBEIlvnY3zjj 9S/Fjcb3RlyvvNue/bfT4nL0VdZgqg==
```

For completeness, I'm including a transfer of the zone from the PowerDNS authoritative server:

```
; <<>> DiG 9.10.2rc1 <<>> @192.168.1.114 sub.p01.aa axfr +multiline
; (1 server found)
;; global options: +cmd
sub.p01.aa.		3600 IN	SOA ns.aa. jpmens.gmail.com. (
				2015020503 ; serial
				1800       ; refresh (30 minutes)
				900        ; retry (15 minutes)
				604800     ; expire (1 week)
				603        ; minimum (10 minutes 3 seconds)
				)
sub.p01.aa.		3600 IN	RRSIG SOA 8 3 3600 (
				20150219000000 20150129000000 975 sub.p01.aa.
				Q3EgQ+tFfrKghHscZHwXc6XMaW/DlDwHX3docMaZ3eiC
				ZVaaXLXkL0SBnb6/2S9nbXu7kkRxUQlVwG0LN2kv4Pw9
				B/K/4p6NZpWLJHgk2RPt+WJDe9ap54jMu1XMwNaMrO4D
				pIaDdplu1tM5oVBQ5MjdMUu6yHM80ytt/a9iV8o= )
sub.p01.aa.		603 IN DNSKEY 256 3 8 (
				AwEAAeM+rdd/DFFOUjU/ZPBGcWvnLC6wJ50iO00qw795
				Ou0Ja8yAIWG8WFQLswh6H9mCU7oyvpf9TIV8sEc+SrtQ
				Kh8+BXCTiPmdaq4hDXWLsTQkblrstKt4krq0PxKQJd7p
				y84/XaUG3vfe7ddNX3bKLEHEetpHGH3Qb026BfT+AQLL
				) ; ZSK; alg = RSASHA256; key id = 975
sub.p01.aa.		603 IN DNSKEY 257 3 12 (
				glfaEUdhiNYUQ3NoxD/DPmqNlOKPWmWyuPpYnxAI/sfF
				JzZruYkMJDkZHkoqwNaM9Bto1XgLE/QnL8W43RUMPg==
				) ; KSK; alg = ECCGOST; key id = 11741
sub.p01.aa.		603 IN RRSIG DNSKEY 12 3 603 (
				20150219000000 20150129000000 11741 sub.p01.aa.
				L97ijGyG8brPXnkv+1EL4cHlHTXF+23B/f7rEgTeme6S
				kBEIlvnY3zjj9S/Fjcb3RlyvvNue/bfT4nL0VdZgqg== )
sub.p01.aa.		3600 IN	A 192.168.1.112
sub.p01.aa.		3600 IN	RRSIG A 8 3 3600 (
				20150219000000 20150129000000 975 sub.p01.aa.
				tvVszueWd3VVH8ZPy6MLzENfiHqZ5n6zOaQENy6wYwbk
				wBNrx1fKvd5VrCIIpr+gw0dg+4tqlTZU/lWZfR24enXC
				BouYYOaZYDxqYNY2jZgvU/K9IzERSGLweZM650iBAmZP
				AtNyA6VNEN7HqSMl88jLnseLpv9QyI43rnag1Po= )
sub.p01.aa.		3600 IN	NS p01.aa.
sub.p01.aa.		3600 IN	RRSIG NS 8 3 3600 (
				20150219000000 20150129000000 975 sub.p01.aa.
				LHJUdihbbcVDesu8YRGWxT55LDqZfBjsFjG5ZtCjAaRp
				fUiOlfnXJRWNumWdNK/A8XCBbwPEjcD10WGh4VDQjnGP
				xbCmjHohrZqx7EY8bjanGWqL1tkELvX/UX4WIHXTY6jv
				Hu/NK3N/16nwbKcSS1S2SwvoE6QrxJVj0+jw4ug= )
sub.p01.aa.		3600 IN	TXT "Hola patatin"
sub.p01.aa.		3600 IN	RRSIG TXT 8 3 3600 (
				20150219000000 20150129000000 975 sub.p01.aa.
				ftmD7uIF6uhJyKCjjnOmzIQXkbwxurTYmKUTspKmqwOy
				/7eFiRhsrG8DVbH4HhhKZ0yNFRzeFUFemwCAW08Q0F6p
				zFDwf9xQGMFvIuJLeChXHZ8WLSYR3D0zwTnAyOjD0XcO
				fTMHO4rZIPlENAu4So6rpve7X9dmIMQYjGqpREI= )
sub.p01.aa.		603 IN NSEC sub.p01.aa. A NS SOA TXT RRSIG NSEC DNSKEY
sub.p01.aa.		603 IN RRSIG NSEC 8 3 603 (
				20150219000000 20150129000000 975 sub.p01.aa.
				SZGawsHz+C0oIRguDusiHy7c/57pAsKsMRJffGgdaq3N
				BB0v3WqkyY62Fz89+VEUoXdzWppDyB9lH+/52BXe+LLH
				MA2apC029a6LyFal8o+h4jwIZ9PZa6OEDs+XvL53Krp/
				O2nl9KTBoin4g/7op7n/ZB08/KTTHVhI8IeDiY0= )
sub.p01.aa.		3600 IN	SOA ns.aa. jpmens.gmail.com. (
				2015020503 ; serial
				1800       ; refresh (30 minutes)
				900        ; retry (15 minutes)
				604800     ; expire (1 week)
				603        ; minimum (10 minutes 3 seconds)
				)
;; Query time: 17 msec
;; SERVER: 192.168.1.114#53(192.168.1.114)
;; WHEN: Fri Feb 06 12:02:41 CET 2015
;; XFR size: 14 records (messages 3, bytes 1499)
```


From dnssec-verify (BIND 9.10.1-P1):
```
Loading zone 'sub.p01.aa' from file 'sub.p01.aa.zone'
Verifying the zone using the following algorithms: ECCGOST.
Missing self-signed KSK for algorithm RSASHA256
Missing ZSK for algorithm ECCGOST
No correct ECCGOST signature for sub.p01.aa SOA
No correct ECCGOST signature for sub.p01.aa A
No correct ECCGOST signature for sub.p01.aa NS
No correct ECCGOST signature for sub.p01.aa TXT
No correct ECCGOST signature for sub.p01.aa NSEC
The zone is not fully signed for the following algorithms: RSASHA256 ECCGOST.
dnssec-verify: fatal: DNSSEC completeness test failed.
```

```
$ ldns-verify-zone sub.p01.aa
Checking: sub.p01.aa.
Zone is verified and complete
```

```
$ ./validns -v sub.p01.aa
-> sub.p01.aa:11: sub.p01.aa. IN 3600 SOA ns.aa. jpmens.gmail.com. 2015020503 1800 900 604800 603
-> sub.p01.aa:17: sub.p01.aa. IN 3600 RRSIG
-> sub.p01.aa:23: sub.p01.aa. IN 603 DNSKEY 256 3 8 XXX ; key id = 975
-> sub.p01.aa:27: sub.p01.aa. IN 603 DNSKEY 257 3 12 XXX ; key id = 11741
-> sub.p01.aa:31: sub.p01.aa. IN 603 RRSIG
-> sub.p01.aa:32: sub.p01.aa. IN 3600 A 192.168.1.112
-> sub.p01.aa:38: sub.p01.aa. IN 3600 RRSIG
-> sub.p01.aa:39: sub.p01.aa. IN 3600 NS p01.aa.
-> sub.p01.aa:45: sub.p01.aa. IN 3600 RRSIG
-> sub.p01.aa:46: sub.p01.aa. IN 3600 TXT "Hola patatin"
-> sub.p01.aa:52: sub.p01.aa. IN 3600 RRSIG
-> sub.p01.aa:53: sub.p01.aa. IN 603 NSEC sub.p01.aa. A NS SOA TXT RRSIG NSEC DNSKEY
-> sub.p01.aa:59: sub.p01.aa. IN 603 RRSIG
sub.p01.aa:27: error building pkey
starting workers for signature verification
sub.p01.aa:31: sub.p01.aa. RRSIG(DNSKEY): cannot verify signature, reason unknown
```

BIND 9.10.2rc validates, in spite of `dnssec-verify` failing on the zone as it did for Habbie.

```
$ dig +ad @127.0.0.2 sub.p01.aa soa

; <<>> DiG 9.8.4-rpz2+rl005.12-P1 <<>> +ad @127.0.0.2 sub.p01.aa soa
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 16776
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 1, AUTHORITY: 1, ADDITIONAL: 1

;; QUESTION SECTION:
;sub.p01.aa.                    IN      SOA

;; ANSWER SECTION:
sub.p01.aa.             3600    IN      SOA     ns.aa. jpmens.gmail.com. 2015020503 1800 900 604800 603

;; AUTHORITY SECTION:
sub.p01.aa.             3600    IN      NS      p01.aa.

;; ADDITIONAL SECTION:
p01.aa.                 3589    IN      A       192.168.1.112

;; Query time: 9 msec
;; SERVER: 127.0.0.2#53(127.0.0.2)
;; WHEN: Fri Feb  6 12:04:22 2015
;; MSG SIZE  rcvd: 113
```

```
$ dig +ad @127.0.0.2 sub.p01.aa dnskey +multiline

; <<>> DiG 9.8.4-rpz2+rl005.12-P1 <<>> +ad @127.0.0.2 sub.p01.aa dnskey +multiline
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 12024
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;sub.p01.aa.            IN DNSKEY

;; ANSWER SECTION:
sub.p01.aa.             533 IN DNSKEY 256 3 8 (
                                AwEAAeM+rdd/DFFOUjU/ZPBGcWvnLC6wJ50iO00qw795
                                Ou0Ja8yAIWG8WFQLswh6H9mCU7oyvpf9TIV8sEc+SrtQ
                                Kh8+BXCTiPmdaq4hDXWLsTQkblrstKt4krq0PxKQJd7p
                                y84/XaUG3vfe7ddNX3bKLEHEetpHGH3Qb026BfT+AQLL
                                ) ; key id = 975
sub.p01.aa.             533 IN DNSKEY 257 3 12 (
                                glfaEUdhiNYUQ3NoxD/DPmqNlOKPWmWyuPpYnxAI/sfF
                                JzZruYkMJDkZHkoqwNaM9Bto1XgLE/QnL8W43RUMPg==
                                ) ; key id = 11741

;; Query time: 0 msec
;; SERVER: 127.0.0.2#53(127.0.0.2)
;; WHEN: Fri Feb  6 12:05:32 2015
;; MSG SIZE  rcvd: 256
```

### Log

```
06-Feb-2015 12:04:22.750 dnssec: debug 3: validating sub.p01.aa/SOA: starting
06-Feb-2015 12:04:22.751 dnssec: debug 3: validating sub.p01.aa/SOA: attempting positive response validation
06-Feb-2015 12:04:22.751 dnssec: debug 3: validating sub.p01.aa/DNSKEY: starting
06-Feb-2015 12:04:22.751 dnssec: debug 3: validating sub.p01.aa/DNSKEY: attempting positive response validation
06-Feb-2015 12:04:22.756 dnssec: debug 3: validating sub.p01.aa/DS: starting
06-Feb-2015 12:04:22.756 dnssec: debug 3: validating sub.p01.aa/DS: attempting positive response validation
06-Feb-2015 12:04:22.756 dnssec: debug 3: validating sub.p01.aa/DS: keyset with trust secure
06-Feb-2015 12:04:22.757 dnssec: debug 3: validating sub.p01.aa/DS: verify rdataset (keyid=42780): success
06-Feb-2015 12:04:22.757 dnssec: debug 3: validating sub.p01.aa/DS: marking as secure, noqname proof not needed
06-Feb-2015 12:04:22.757 dnssec: debug 3: validating sub.p01.aa/DNSKEY: in dsfetched
06-Feb-2015 12:04:22.757 dnssec: debug 3: validating sub.p01.aa/DNSKEY: dsset with trust secure
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/DNSKEY: verify rdataset (keyid=11741): success
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/DNSKEY: marking as secure (DS)
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/SOA: in fetch_callback_validator
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/SOA: keyset with trust secure
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/SOA: resuming validate
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/SOA: verify rdataset (keyid=975): success
06-Feb-2015 12:04:22.758 dnssec: debug 3: validating sub.p01.aa/SOA: marking as secure, noqname proof not needed
```