auth: wrong format for IPSECKEY with no gateway

 - Program: Authoritative
 - Issue type: Bug report

### Short description
`12 0 2 . asdfdQ==` is not acceptedby the API as an IPSECKEY record

### Environment
 - Operating system: Ubuntu bionic
 - Software version: 4.5.0
 - Software source: PowerDNS repository

### Steps to reproduce
1. Use the API to provision an IPSECKEY record without gateway (second field `0`, fourth field `.`

### Expected behaviour
Record should be accepted

### Actual behaviour
Record is rejected with `When parsing IPSECKEY trailing data was not parsed: '. asdfdQ=='`

### Other information
[RFC 4025 Sec. 3.1](https://datatracker.ietf.org/doc/html/rfc4025#section-3.1) says:
> If no gateway is to be indicated, then the gateway type field MUST be zero, and the gateway field MUST be "."

Our code expects the whole field to be omitted. Our code is wrong.

Some of the issues I reported and which are now in this milestone don't really affect our production (such as CDS record content validation, which we do through dnspython).

However, this is one out of two bugs relevant to us, and has caused us to disable IPSECKEY support, with some users now waiting to be able to use it. Just wanted to let you know in case it makes a prio difference.