Recursor limit outgoing ports

 - Program: Recursor
 - Issue type: Feature request

### Short description
It would be good (eg for firewall usage) to know the source ports used by the recursor for outgoing queries. It is random at this time you can't define the port range or exclude ports from the range.

### Usecase
If you have a firewall you may want/need to define the source ports allowed or in a network certain ports could be blocked.

### Description
Only use a defined port range as source port for outgoing connections.

I am afraid we don't wish to do this, as we follow the MUST directives in [RFC 5452 section 9.2](https://tools.ietf.org/html/rfc5452#section-9.2) to prevent cache-poisoning as aggressively as possible.