Incorrect handling of "duplicate" records (TXT/NAPTR in particular)

 - Program: Authoritative
 - Issue type: Bug report (and Feature request too)

### Short description
When multiple TXT records are present but content differs only in case, it is reported as duplicate.

### Environment
 - Operating system:  CentOS 7.4
 - Software version: pdns-4.1.4-1pdns.el7.x86_64
 - Software source: PowerDNS repository

### Steps to reproduce
1. Run pdnsutil zone-edit example.com
2. Create two TXT records with content that differs only in case, like:
```
b64.example.com      60      IN      TXT     "d2hhdGV2ZXI="
b64.example.com      60      IN      TXT     "d2hHdGV2ZXI="
```
2. Finish editing and get the error message:
```
[Error] Duplicate record found in rrset: 'b64.example.com IN TXT "d2hHdGV2ZXI="'
```

### Expected behaviour
Content of TXT and NAPTR (regexp part) records should be compared bit-by-bit, as there are situations when case matters (base64 is one of them, as in my example).

### Actual behaviour
Records are reported as duplicate and this is considered an error (though both of them are returned when querying).

### Other information
Making this an error but still processing feels a bit inconsistent with A/AAAA/MX records - error is reported but duplicates are simply discarded (only unique records are returned).

### Use case
One popular (to some extent) use case is poor's man weighted RR:
```
rr 60 IN A 127.0.0.1
rr 60 IN A 127.0.0.1
rr 60 IN A 127.0.0.2
```
or even
```
mx 60 IN MX 10 high-load.example.com
mx 60 IN MX 10 high-load.example.com
mx 60 IN MX 10 low-load.example.com
```

While this method is unreliable (as it depends on client's behavior), it is still in use and is not (as far as I know) in violation of any standards. In case of MX priority does not allow "balancing" (the lower priority is always selected if it responds), that's why it could be useful.

### Description
It would be nice to have a configuration option to explicitly allow duplicate records when content is the same, and return all of them (which is not the case for A/AAAA/MX records).


> [Error] Duplicate record found in rrset: 'b64.example.com IN TXT "d2hHdGV2ZXI="'

I can confirm this bug on the current master version (2ce4ae7be7ef58b94f828695ba066453588d3a56) as well.

> It would be nice to have a configuration option to explicitly allow duplicate records when content is the same, and return all of them (which is not the case for A/AAAA/MX records).

This is not going to happen - DNS forbids it (since RFC 2181 section 5), and it makes DNSSEC impossible.

Well, strictly speaking, section 5 says "_should_ suppress" - this, if I we pull the definition of "should" in RFC 2181, means that this could be done as "there may exist valid reasons in particular circumstances to ignore a particular item".

DNSSEC is not (yet) obligatory and most of the Internet is not using it, not counting lots of unexposed installations which will never use DNSSEC. It could be supressed for DNSSEC but left alone for insecure DNS.

I may be wrong, but this looks as a simple change, and it does not affect anything if default is "to supress", but it allows smooth transition from DNS servers which have no such restriction (tinydns is one of them).


(1) this discussion belongs in a separate ticket - you reported a real bug regarding TXT handling, and we're treating this ticket as covering that bug. But (2), allowing duplicate data is still not going to happen, sorry.

This appears to have been fixed in d9b0dad4fe3c5eecf32e383e314118d08fdac27c, which does not force `TXT` records to lowercase.

But other record types might need to be "whitelisted" too.

Also:
- the DNSUPDATE code forces lower casing of `MX`, `PTR` and `SRV` records only.
- the `prettyCompare` routine to sort records in a human-friendly way lower cases everything but `TXT`, `SPF` and `LUA` records.
