RFC8375 / home.arpa. special handling

 - Program: Recursor
 - Issue type: Feature request

### Short description

RFC8375 mandates special handling for the `home.arpa.` zone.

### Other information
```
   4.  There are three considerations for recursive resolvers that
       follow this specification:

       A.  Recursive resolvers at sites using 'home.arpa.'  MUST
           transparently support DNSSEC queries: queries for DNSSEC
           records and queries with the DNSSEC OK (DO) bit set (see
           Section 3.2.1 of [RFC4035]).  While validation is not
           required, it is strongly encouraged: a caching recursive
           resolver that does not validate answers that can be validated
           may cache invalid data.  This, in turn, will prevent
           validating stub resolvers from successfully validating
           answers.

       B.  Unless configured otherwise, recursive resolvers and DNS
           proxies MUST behave as described in Section 3 of the Locally
           Served Zones document [RFC6303].  That is, queries for
           'home.arpa.' and subdomains of 'home.arpa.'  MUST NOT be
           forwarded, with one important exception: a query for a DS
           record with the DO bit set MUST return the correct answer for
           that question, including correct information in the authority
           section that proves that the record is nonexistent.

           So, for example, a query for the NS record for 'home.arpa.'
           MUST NOT result in that query being forwarded to an upstream
           cache nor to the authoritative DNS server for '.arpa.'.
           However, as necessary to provide accurate authority
           information, a query for the DS record MUST result in
           forwarding whatever queries are necessary; typically, this
           will just be a query for the DS record, since the necessary
           authority information will be included in the authority
           section of the response if the DO bit is set.

       C.  In addition to the behavior specified above, recursive
           resolvers that can be used in a homenet MUST be configurable
           to forward queries for 'home.arpa.' and subdomains of
           'home.arpa.' to an authoritative server for 'home.arpa.'.
           This server will provide authoritative data for 'home.arpa.'
           within a particular homenet.  The special handling for DS
           records for the 'home.arpa.' delegation is still required.

           It is permissible to combine the recursive resolver function
           for general DNS lookups with an authoritative resolver for
           'home.arpa.'; in this case, rather than forwarding queries
           for subdomains of 'home.arpa.' to an authoritative server,
           the resolver answers them authoritatively.  The behavior with
           respect to forwarding queries specifically for 'home.arpa.'
           remains the same.

```

I guess implementing the easy bits of 4.B. would be a good start.

### Usecase
Internet standards compliance.
