incorrect CDS digest padding

 - Program: Authoritative
 - Issue type: Bug report

### Short description
The CDS digest is incorrectly padded to an even number of characters, for example `CDS 0 0 0 0` required to signal deletion of all DS records is returned as `CDS 0 0 0 00`

### Environment
<!-- Tell us about the environment -->
 - Operating system: Centos 7
 - Software version: 4.1.3
 - Software source: PowerDNS repository

### Steps to reproduce
<!-- Tell us step-by-step how the issue can be triggered. Please include your configuration files and any (Lua) scripts that are loaded. -->
1. `pdnsutil create-zone cdsdelete.example.com`
2. `pdnsutil add-record cdsdelete.example.com "" CDS "0 0 0 0" `
3. `pdnsutil list-zone cdsdelete.example.com`

### Expected behaviour
the record should be stored and returned as:
`cdsdelete.example.com	3600	IN	CDS	0 0 0 0`

### Actual behaviour
the record is stored and returned as:
`cdsdelete.example.com	3600	IN	CDS	0 0 0 00`

```
dig +norec cds cdsdelete.example.com @powerdns-1.servername.ch

; <<>> DiG 9.11.1-P3 <<>> +norec cds cdsdelete.example.com @powerdns-1.servername.ch
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 52054
;; flags: qr aa; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1680
;; QUESTION SECTION:
;cdsdelete.example.com.		IN	CDS

;; ANSWER SECTION:
cdsdelete.example.com.	3600	IN	CDS	0 0 0 00

;; Query time: 8 msec
;; SERVER: 2001:620:5ca1:1f0:f816:3eff:fe24:4e10#53(2001:620:5ca1:1f0:f816:3eff:fe24:4e10)
;; WHEN: Sat Aug 25 11:55:46 CEST 2018
;; MSG SIZE  rcvd: 67
```

### Other information
 * The behaviour is reproducible for any odd number of characters in the digest.
   * digest `c0ffe` is changed to `c0ffe0`
   * digest `beef` is unchanged   
 * RFC8078 Section 4 ( https://tools.ietf.org/html/rfc8078#section-4 ) requires the content of the CDS record to be exactly `0 0 0 0` for the removal of all DS records in the parent. 

Quote:
 > The keying material payload is represented by a single 0.



I lied! There is an errata for RFC8078 which updates this statement to "The keying material payload is represented by a single octet with the value 00"

https://www.rfc-editor.org/errata/eid5049

Closing this again, the PowerDNS behaviour is correct. Sorry for the noise!