IXFR response must be SOA only when request serial >= current serial

The current implementation of IXFR in PowerDNS always falls back to AXFR without comparing serials. This leads to excess data being sent and discarded client-side. There should be no more data sent following the SOA, as stated in RFC 1995 section 2 paragraph 4. An easy to test example for this is the ISC BIND tool "dig".

Reproduction:

Allow AXFR for client IP in configuration:

```
allow-axfr-ips=127.0.0.1
```

Record traffic, for example with wireshark or tcpdump.

Query PowerDNS with a serial equal to or higher than current SOA:

```
dig -t IXFR=your-current-soa-serial @127.0.0.1 your-zone.com
```

Current behavior:

dig will close the connection upon receiving first SOA. The error being: more data has been sent by PowerDNS, but is discarded.

Expected behavior:

No excess data.

Reproducable with current Debian Wheezy packages of both products:

pdns 3.1-4
bind9-host 9.8.4.dfsg.P1-6+nmu2+deb7u1

Fix proposal:

Send only SOA when IXFR request serial is equal to or higher than current SOA serial. This will make IXFR actually save traffic.
