auth: hide other CDS/CDNSKEY records when delete-DS records are present

 - Program: Authoritative
 - Issue type: Feature request

### Short description
PowerDNS auth introduced "going insecure" in #9631 by setting `PUBLISH-{CDS,CDNSKEY} = 0`. However, when that setting is left at a non-zero value (such as `2,4`), and DS-deletion records such as `CDS 0 0 0 00` are added to the zone directly (with `direct-dnskey=yes`), those records are published alongside the automatically generated ones.

The feature request is that if `direct-dnskey=yes` is set and CDS/CDNSKEY records signaling DS-deletion are present, the result should be as if `PUBLISH-{CDS,CDNSKEY} = 0` was set.

### Usecase
The deSEC API (and presumably also other frontends to PowerDNS) do not expose write access to domain metadata. Still, users should be able to signal DS deletion. The canonical (RFC 8078) way to do this is to create a particular CDS/CDNSKEY record with algorithm 0. People would expect that to "just work" with a DNS provider that advertises CDS/CDNSKEY support.

It would be difficult to explain to users (and would also be bad UX) that some metadata change has to be requested instead, especially as RFC 8078 provides the "in-band" solution.

Besides, the current behavior (publishing records signaling DS-deletion together with contradicting information) does not seem to be allowed. (RFC 8078 Sec. 4 defines use of algorithm 0 for the first time, but adds the provision that such RRsets MUST contain only one RR.)

### Description
If CDS/CDNSKEY records indicating DS-deletion are added directly (with `direct-dnskey=yes` set), then only these should be served; other CDS/CDNSKEY records should be hidden. In other words, `direct-dnskey=yes` is a strong override in this case.

Doing this in the customer-facing application has several disadvantages, such as a) all such interfaces need to do it, b) a new interface (metadata) would be exposed, c) extra treatment needs to be added for translating between users adding such records and the metadata, plus everything else I forgot. My impression is that it would be better to avoid that complexity.

Thank you for considering <3