Invalid NSEC3 after removal of wildcard RR using LMDB backend

<!-- Hi! Thanks for filing an issue. It will be read with care by human beings. Can we ask you to please fill out this template and not simply demand new features or send in complaints? Thanks! -->
<!-- Also please search the existing issues (both open and closed) to see if your report might be duplicate -->
- [x] This is not a support question, I have read [about opensource](https://www.powerdns.com/opensource.html) and will send support questions to the IRC channel, [GitHub Discussions](https://github.com/PowerDNS/pdns/discussions/) or the mailing list.
- [x] I have read and understood the ['out in the open' support policy](https://blog.powerdns.com/2016/01/18/open-source-support-out-in-the-open/)
- [x] I have read and understood the [PowerDNS AI policy](https://github.com/PowerDNS/pdns/blob/master/AI_POLICY.md)

<!-- Tell us what is issue is about -->
 - Program: Authoritative
 - Issue type: Bug report

### Short description
<!-- Explain in a few sentences what the issue/request is -->
We recently switched from MySQL to LMDB backend for PDNS Authoritative server.   
When zones have a wildcard (*) record, and this record is removed, the NSEC3 response for wildcard-records becomes invalid. Attempting a rectify-zone does not resolve it. Re-adding the * record fixes it, but removing the * record breaks it again. We have only been able to solve it by removing and re-creating the zone without the wildcard record.

### Environment
<!-- Tell us about the environment -->
 - Operating system:  Debian 12
 - Software version:  4.9.11
 - Software source: PowerDNS Repository

### Steps to reproduce
<!-- Tell us step-by-step how the issue can be triggered. Please include your configuration files and any (Lua) scripts that are loaded. -->
1. Configure PowerDNS with LMDB:
```
launch=lmdb
lmdb-filename=/var/lib/powerdns/pdns.lmdb
lmdb-shards=1
lmdb-lightning-stream=yes
```

2. Create and secure a zone:
```
pdnsutil create-zone example.com
pdnsutil secure-zone example.com
pdnsutil set-nsec3 example.com '1 0 0 -'
pdnsutil rectify-zone example.com

# Edit the zone and add NS records
pdnsutil edit-zone example.com
```
3. Run the zone through dnsviz: https://dnsviz.net/
4. Make sure to check the "Denial of existence" option under options.
5. Observe that there is no error with the NSEC3 responses
6. Run `pdnsutil edit-zone example.com` again and add:
```
*.example.com 300 IN A 127.0.0.2
```
7. Re-run the dnsviz test. Observe no NSEC3 errors
8. Remove the `*.example.com` record using the `edit-zone`command
9. Re-run dnsviz. Make sure to check the "Denial of Existence" option in the checks. You should now see NSEC3 errors:
```
NSEC3 proving non-existence of 3gcp1.rqaj2.<domain>/A: No NSEC3 RR covers the wildcard (*.<domain>). See RFC 5155, Sec. 8.4.
```

### Expected behaviour
<!-- What would you expect to happen when the reproduction steps are run -->
No NSEC3 errors for the * record.

### Actual behaviour
<!-- What did happen? Please (if possible) provide logs, output from `dig` and/or tcpdump/wireshark data -->
NSEC3 errors

### Other information
<!-- if you already did more digging into the issue, please provide all the information you gathered -->
This issue does NOT occur using the MySQL backend.

This is supposed to have been fixed in 5.0, but I'll try to reproduce anyway.