Recursor: possible noncompliant order of resource records in response leads to failures

Ever since upgrading to pdns-recursor to 4.0 (now 4.0.1) coming from 3.3 I am encountering issues with some domains when resolving with Android or a desktop browser. On the wire using Wireshark all looks good at first sight, all the queries are responded to without a failure. Despite an answer given to the client, the browser reports a DNS lookup failure and Android apps are reporting connectivity issues. Regular command line tools such as `nslookup`/`dig` are all working fine, but the issue pops up in Android apps and Chrome browser.

I could rule out DNSSEC quickly by setting `dnssec=off` with it still being reproducible.

Comparing queries and responses for 3.3, 3.6 and 4.0.1 in Wireshark I found one particular interesting difference that appears since 4.0. The order of the RRs in the response tend to be in semi-random order when for example an A-query results in both a CNAME and A record.

Whenever the recursor answers with the A record preceding the CNAME record, a DNS resolution failure is reported to me. Below in the image is an example of two quickly subsequent answers while opening the Dutch NS Reisplanner app. One resource is displayed but loading the second one fails and a connectivity error is reported to me.

![selection_068](https://cloud.githubusercontent.com/assets/1550527/17834225/4faa09fe-6736-11e6-82a7-bd8b3a211fab.png)

I have to say I'm not an expert on DNS, but I believe that a recursor should answer with the A record as last RR. According to [RFC1034 section 4.3.1](https://tools.ietf.org/html/rfc1034#section-4.3.1):

> The answer to the query, possibly _preface_ by one or more CNAME RRs that specify aliases encountered on the way to an answer

This would make the answer shown on the right in the image is non-RFC compliant and could explain why the applications are reporting DNS issues in my network.

It could be that I'm missing something else, but in my relatively normal setup with just a broadband connection and using an Android phone and Google Chrome as browser I am noticing several services cannot be used with the new PowerDNS, including the doc.powerdns.com website failing for me sometimes when using Chrome.

My `recursor.conf`:

```
local-address=0.0.0.0
quiet=yes
setgid=pdns
setuid=pdns
forward-zones=<omitted some internal zones>
dnssec=off
```

With some PCAP analysis in Wireshark with the filter `dns.cname and dns.a and dns.flags.response` I found that with about ~100 DNS responses from the recursor that contained both an A and CNAME...

* **3.3** & **3.6** -- 100% answered with an A record as last RR, all CNAMEs preceding.
* **4.0.1** -- 89% answered with an A record as last RR, 11% had As preceding CNAMEs.

I'm happy to share more details or even PCAPs to get to the bottom of this.

Have confirmed this against f109d57. Related:
* https://www.ietf.org/mail-archive/web/ietf/current/msg94277.html
* https://github.com/skynetservices/skydns/issues/217

in both cases (and a few others I recall) the consensus is 'it SHOULD not matter but it DOES so the recursor needs to play nice here'

thank you for this extremely high quality report. I happened to already be working on this area of powerdns so looking into how we regressed here. We actually have logic to put the A after the CNAME but it probably broke.

gert, I can't reproduce with dnssec=off. And it should not happen. Can you double double double check you CAN reproduce it with dnssec=off in pdns.conf? If so we need to look into this further.

Did a quick test and it looks like my conclusion about it being reproducible with `dnssec=off` was false for stable 4.0.1. I think I might have been working with an rc version by accident. When gathering the details shown in the report I was running 4.0.1 for sure.

Back on 4.0.1 with dnssec=off, with tcpdump running. In case the issue pops up I have a pcap to confirm. :)

Same issue here. We noticed it with our company PowerDNS recursor instance and I was able to replicate the issue on another PowerDNS 4.0.1 instance. The trouble is that Chrome (at least on linux) isn't able to handle out of order CNAMEs. I already filled bug in Chrome tracker: https://bugs.chromium.org/p/chromium/issues/detail?id=640596

```
$ dig @127.0.0.1 a www.paypalobjects.com

; <<>> DiG 9.10.4-P2-RedHat-9.10.4-1.P2.fc24 <<>> @127.0.0.1 a www.paypalobjects.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 58339
;; flags: qr rd ra; QUERY: 1, ANSWER: 5, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypalobjects.com.		IN	A

;; ANSWER SECTION:
www.paypalobjects.com.	3579	IN	CNAME	www.paypalobjects.com.akadns.net.
e3691.g.akamaiedge.net.	20	IN	A	104.103.76.134
www.paypalobjects.com.	3579	IN	RRSIG	CNAME 5 3 3600 20160904000120 20160804231339 65355 paypalobjects.com. 3YOD5bDq7DE9cRW/DhQ1hQbLpTYr3/mhv62ZguY39HOLXf7nn5ZhstPz /KZqcdMTboKHOBw8jESv9fqPCfHqvDTqXLW2HcfbGmWyT9PrJz4nZKO0 HD7eK/qN6z+QVzTZ016fbwtyG8ySvtmQE12CYaMszIMFqhMP9GOc5J1P ma0=
www.paypalobjects.com.edgekey.net. 99 IN CNAME	e3691.g.akamaiedge.net.
www.paypalobjects.com.akadns.net. 279 IN CNAME	www.paypalobjects.com.edgekey.net.

;; Query time: 9 msec
;; SERVER: 127.0.0.1#53(127.0.0.1)
;; WHEN: Thu Aug 25 07:46:44 CEST 2016
;; MSG SIZE  rcvd: 366
```

Rlinks console browser doesn't handle the out of order CNAMEs either.