Authoritative Server (and dnsdist): AXFR-over-TLS (AXoT)

 - Program: Authoritative, dnsdist
 - Issue type: Feature request

### Short description
This ticket tries to explain what needs to happen/be checked to compy with [draft-ietf-dprive-xfr-over-tls-4](https://datatracker.ietf.org/doc/draft-ietf-dprive-xfr-over-tls/).

### Usecase
Doing XFRs (as a primary and as a secondary) with a combined PowerDNS Authoritative Server and dnsdist platform

### Description
#### MUST

##### Primary
- [ ] Send EDNS in each XFR response if the client sent EDNS in XFR query (§ 5.3.4)
- [ ] Ensure multiple XFRs are supported over a single connection (§ 5.3.2)

##### Secondary
- [ ] Accept intermingled XFR packets from multiple XFRs over the same connection (§ 5.2)
- [ ] Accept empty XFR packets, for future padding requirements (§ 6.8.1)
- [ ] Understand Extended DNS Errors in the AXoT connection (§ 6.7)
- [ ] Use TLSv1.3 or higher on AXoT (§ 6.1)
- [ ] Use port 853 by default for AXoT, unless configured otherwise (§ 6.2)
- [ ] Provide a way to configure the use of TLS for XFR (see next point)
- [ ] Provide configuration for TLS Strict Privacy Profile (§ 6.4, defined in [RFC 8310 § 6.6](https://tools.ietf.org/html/rfc8310#section-6.6). It would be great if we'd make a `primaries` table with this info and use some domain metadata or a field in the `domains` table to refer to this. Alternatively, this could be domain metadata, but that scales badly.

##### dnsdist
- [ ] Be able to send Extended DNS Error code 21 as Action (§ 5.3.4)

#### Nice to have / SHOULD
##### Primary
- [ ] Use edns-tcp-keep-alive options to keep connections open (§ 5.3.4, defined in [RFC 7828](https://tools.ietf.org/html/rfc7828))

##### Secondary
- [ ] Re-use open TLS connection for other XFRs (§ 5.3.1)
- [ ] Also do the SOA query over the TLS connection when open (§ 5.3.1)
- [ ] Send edns-tcp-keep-alive options to keep connections open (§ 5.3.4, defined in [RFC 7828](https://tools.ietf.org/html/rfc7828))

##### dnsdist
- [ ] Have a selector (`ClientTLSRule` that uses a callback?) to support mutual TLS

Hello team, do you guys know when we can have this aproximately?