Patches related to RFC2606, RFC3849, RFC5737 and a small documentation improvement

Attached are patches to improve the documentation. Most patches are caused by trying to follow RFC2606, RFC3849, RFC5737 and 1 is because I think an option in the documentation wasn't clear for new users (regarding the password for the connection at the gmysql backend).

Reported/patches by Mark Scholten (SinnerG BV)

Can you please resubmit the parts that still make sense as a pull request? Thanks!