Proper HTTP Status code for domain exists error (via POST)

a 'create domain' action returns a 200 (HTTP status code) when a domain exists already. Since the client makes a 'mistake' i would suggest to throw a 4xx code. 

Source: RFC 2616, section 10.4.
Section 10.4.10 tells us a 409 is meant for a conflict. This looks like a suitable code to me.

From my testing, we return a 422, and not a 200. Can you confirm on 4.0.0?

Closing due to lack of response. Please reopen when needed.