auth: API: Invalid DS/CDS contents accepted

 - Program: Authoritative
 - Issue type: Bug report

### Short description
The auth API accepts DS/CDS records with digests of the wrong size. As a result, queries for these types produce ill-formed replies which (e.g.) dig does not understand.

### Environment
 - Operating system: Ubuntu bionic
 - Software version: 4.4.0
 - Software source: PowerDNS repository

### Steps to reproduce
1. Provision a DS or CDS RRset via the API with several valid content values, plus the following value: `39556 13 1 aabbccddeeff` (or a too long digest value)
2. Query the RRset using dig

### Expected behaviour
API rejects the invalid record.

### Actual behaviour
API happily provisions the record, and includes it in responses. The resulting DNS packet is malformed, as it violates the DS/CDS record wireformat, which has fixed digest fields length dependent on the digest type. For example, for digest type 1 (SHA-1), RFC 3658 Sec. 2.4 states:
> The size of the DS RDATA for type 1 (SHA-1) is 24 bytes

As a result, other DNS implementations (like dig) reject the package, or are able to extract only the DS record values which happen to appear before the broken one. This effectively breaks all DS entries that happen to appear in the packet after the broken one.

### Other information
- I checked in the code, and it looks like [appropriate amounts of memory are allocated](https://github.com/PowerDNS/pdns/blob/3d53ea7c2a47800d625c78f288f5978738153f86/pdns/rcpgenerator.cc#L433) before writing the digests anywhere, so there should be no immediate security issue arising from this.
- An implication is, however, that the presence of the broken digest value may break parsing of the packet, rendering the DS/CDS record itself invalid. Depending on the circumstances, it is conceivable that as a result, the zone's DNSSEC setup will break.

DLV records may be affected, too.

> DLV records may be affected, too.

Looks true :)