pdns rfc2136 implementation doesn't work with nsupdate wikipedia example

Just tried the nsupdate wikipedia example (https://en.wikipedia.org/wiki/Nsupdate Example 2) with pdns.
`# nsupdate -k /path/to/file-is-rndc.key`
`> server server1.example.com`
`> zone my.example.com`
`> update add host1.my.example.com. 3600 A 10.20.30.40`
`> zone 30.20.10.in-addr.arpa.`
`> update add 40.30.20.10.in-addr.arpa. 7200 PTR host1.my.example.com.`
`> send`
`> quit`

The second update is rejected with a "notZone".

To make it work with pdns I had to change it to:

`# nsupdate -k /path/to/file-is-rndc.key`
`> server server1.example.com`
`> zone my.example.com`
`> update add host1.my.example.com. 3600 A 10.20.30.40`
`> send`
`> quit`

`# nsupdate -k /path/to/file-is-rndc.key`
`> server server1.example.com`
`> zone 30.20.10.in-addr.arpa.`
`> update add 40.30.20.10.in-addr.arpa. 7200 PTR host1.my.example.com.`
`> send`
`> quit`

I used pdns 3.4.8 and nsupdate 9.10.3-P3.

To speed up ddns processing it would be useful to allow cross zone updates. I'd also like to mention that the example works with bind server 9.7.3.

I believe updating two distinct zones is not allowed. A quick test with BIND 9.10 shows it's disallowed there also.

```
> send
update failed: NOTZONE
```

Other than that, chaos would ensue if one update succeeds and the other doesn't.

RFC 2136 section 2 clearly says *the zone* (singular) when describing the UPDATE message.

sorry, going to fix wikipedia.