RRSIG doesn't accept timestamps in seconds since epoch

 - Program: Authoritative
 - Issue type: Bug report

### Short description

For `RRSIG` the following text is not accepted:

    SOA 8 3 300 6666 7777 54216 bar1.example.net. AAAA

Only when the timestamps are in `YYYYMMDDHHmmSS` format it is accepted, like :

    SOA 8 3 300 19900101000000 19900101000000 54216 bar1.example.net. AAAA

[RFC 4034 section 3.2](https://tools.ietf.org/html/rfc4034#section-3.2) states:

> The Signature Expiration Time and Inception Time field values MUST be represented either as an unsigned decimal integer indicating seconds since 1 January 1970 00:00:00 UTC, or in the form YYYYMMDDHHmmSS in UTC, where:
> [...]
> Note that it is always possible to distinguish between these two formats because the YYYYMMDDHHmmSS format will always be exactly 14 digits, while the decimal representation of a 32-bit unsigned integer can never be longer than 10 digits.

### Environment
 - Operating system: debian
 - Software version: `pdns-server 4.0.3-1+deb9u2`
 - Software source: debian (stable)


Regarding a unit test:

Currently https://github.com/PowerDNS/pdns/blob/fa38400fe0c1d151035b5051ed3022bf619e0e5e/pdns/test-dnsrecords_cc.cc#L135 uses `20130523000000 20130509000000` for the timestamps, `1369267200 1368057600` should be the same in epoch format (afaict).
