PowerDNS with Zone containing invalid character

<!-- Hi! Thanks for filing an issue. It will be read with care by human beings. Can we ask you to please fill out this template and not simply demand new features or send in complaints? Thanks! -->
<!-- Also please search the existing issues (both open and closed) to see if your report might be duplicate -->
- [x] This is not a support question, I have read [about opensource](https://www.powerdns.com/opensource.html) and will send support questions to the IRC channel, [GitHub Discussions](https://github.com/PowerDNS/pdns/discussions/) or the mailing list.
- [x] I have read and understood the ['out in the open' support policy](https://blog.powerdns.com/2016/01/18/open-source-support-out-in-the-open/)
- [x] I have read and understood the [PowerDNS AI policy](https://github.com/PowerDNS/pdns/blob/master/AI_POLICY.md)

<!-- Tell us what is issue is about -->
 - Program: Authoritative, Recursor, dnsdist <!-- delete the ones that do not apply -->
 - Issue type: Bug report

### Short description
<!-- Explain in a few sentences what the issue/request is -->
While serving a  zone, with domain names containing illegal characters (such as !) PowerDNS accepts the zone during loading but later returns SERVFAIL when queried for the invalid name. Different DNS implementations are handling this differently. I am seeing this behavior across the 4 implementations (BIND, NSD, PowerDNS, Knot) and I am not sure if there is an issue and not clear about the preferences.

### Environment
<!-- Tell us about the environment -->
 - Operating system: Ubuntu 24.04 LTS
 - Software version: PowerDNS Authoritative Server 0.0.32728.0.master.g01d4000d9d
 - Software source: <!-- e.g. Operating system repository, PowerDNS repository, compiled yourself --> PowerDNS github repository

### Steps to reproduce
<!-- Tell us step-by-step how the issue can be triggered. Please include your configuration files and any (Lua) scripts that are loaded. -->
1. Consider the zone file with an illegal character ('!') in a domain name:

| Name                     | TTL | Class | Type | Value                                                        |
|--------------------------|-----|-------|------|--------------------------------------------------------------|
| example.com.             | 500 | IN    | SOA  | ns1.outside.edu. root.campus.edu. 8 6048 4000 2419200 6048   |
| example.com.             | 500 | IN    | NS   | ns1.outside.edu.                                             |
| exam!ple.example.com.    | 500 | IN    | A    | 192.0.2.1                                                    |

2. Start PowerDNS with this zone. 
3. Send a DNS query <"exam!ple.example.com", "A">

### Actual behaviour
<!-- What did happen? Please (if possible) provide logs, output from `dig` and/or tcpdump/wireshark data -->
The preprocessor output is:
```
[
  "[Info] exam!ple.example.com. record for 'A' is not a valid hostname.",
  "Checked 3 records of 'example.com', 0 errors, 0 warnings."
]
```

The running server answers:
```
[
"id 31187",
"opcode QUERY",
"rcode SERVFAIL",
"flags QR AA",
";QUESTION",
"exam!ple.example.com. IN A",
";ANSWER",
";AUTHORITY",
";ADDITIONAL"
]
```
### Expected behaviour
<!-- What would you expect to happen when the reproduction steps are run -->
As per RFC 1035 Section 2.3.1 which specifies that domain name labels may only contain letters, digits, and hyphens, and must not include characters like '!', PowerDNS should reject the zone file and refuse to serve records containing illegal characters. But RFC 2181 section 11 relaxed this noting that “any binary string whatever can be used as the label of any resource record." So as per RFC 2181 that it should accept the zone.

### Other information
<!-- if you already did more digging into the issue, please provide all the information you gathered -->
Responses of other implementations for this case:
1. BIND: loads the zone and answers query successfully.
2. NSD: loads the zone and answers query successfully.
3. Knot: rejects the zone at load time (preprocessor stage).



This behaviour is intentional. PowerDNS tries to be as useful as possible and will serve all valid records of any given zone. One of its companion tools, `pdnsutil`, can be used to check zone data for errors.

Hi,

@omoerbeek: 

When I queried the server with <example.com, SOA> I got this response:

```
Response from powerdns server: id 59292
opcode QUERY
rcode NOERROR
flags QR AA
;QUESTION
example.com. IN SOA
;ANSWER
example.com. 500 IN SOA ns1.outside.edu. root.campus.edu. 8 6048 4000 2419200 6048
;AUTHORITY
;ADDITIONAL
```

@Habbie:

Yes I am using `pdnsutil check-zone` as the preprocessor. 

With `8bit-dns=yes` in pdns.conf, it doesn't respond with SERVFAIL. I am getting the following response for <exam!ple.example.com, A> i.e.

```
id 17546
opcode QUERY
rcode NOERROR
flags QR AA
;QUESTION
exam!ple.example.com. IN A
;ANSWER
exam!ple.example.com. 500 IN A 192.0.2.1
;AUTHORITY
;ADDITIONAL
```


So, based on the above outputs, is this behavior expected for PowerDNS?