auth: API does not allow whitespace in (C)DNSKEY records

 - Program: Authoritative
 - Issue type: Bug report

### Short description
DNSKEY/CDNSKEY records provisioned via the API are rejected if the base64-encoded key part contains whitespace. However, that is allowed as per [RFC 4034 Sec. 2.2](https://tools.ietf.org/html/rfc4034#section-2.2).

### Environment
 - Operating system: Ubuntu bionic
 - Software version: 4.3.1
 - Software source: PowerDNS repository

### Steps to reproduce
1. Set `direct-dnskey=yes`
2. Create a DNSKEY or CDNSKEY RRset via the API with the following record content: `257 3 13 XXXXPh3Ww/LmAAaWuBDcYfaPHxP4AFvx7GXa1POQQsvcwR6HB9ChoNi/F04n7trvXZe2fY+om+JOrlrpekVrIw==`

### Expected behaviour
Request accepted and acted upon, no error

### Actual behaviour
```
{"error": "Record bla.com./DNSKEY '257 3 13 XXXXPh3Ww/LmAAaWuBDcYfaPHxP4AFvx 7GXa1POQQsvcwR6HB9ChoNi/F04n7trv XZe2fY+om+JOrlrpekVrIw==': Not in expected format (parsed as '257 3 13 XXXXPh3Ww/LmAAaWuBDcYfaPHxP4AFvx7GXa1POQQsvcwR6HB9ChoNi/F04n7trvXZe2fY+om+JOrlrpekVrIw==')"}
```

### Other information
Other tooling relies on the ability to use whitespace. (For example, record contents normalized by dnspython add a space every 32 bytes.) We use dnspython for input validation and normalization.