Recursor not resolving DNSSEC signed DNAME

<!-- Before filing an issue, please search the existing issues (both open and closed) to see if your report might be duplicate -->
<!-- Please don't file an issue when you have a support question, send support questions to the mailinglist or ask them on IRC (https://www.powerdns.com/opensource.html) -->

<!-- Tell us what is issue is about -->
 - Program: Recursor <!-- delete the ones that do not apply -->
 - Issue type: Bug report <!-- delete the one that does not apply -->

### Short description
<!-- Explain in a few sentences what the issue/request is -->
The recursor appears to not properly validate a DNAME per [RFC 6672](https://tools.ietf.org/html/rfc6672#section-5.3):

> ### 5.3.1.  Signed DNAME, Unsigned Synthesized CNAME
> In any response, a signed DNAME RR indicates a non-terminal
> redirection of the query.  There might or might not be a server-
> synthesized CNAME in the answer section; if there is, the CNAME will
> never be signed.  For a DNSSEC validator, verification of the DNAME
> RR and then that the CNAME was properly synthesized is sufficient
> proof.

Currently the resolver does not seem to validate this correctly (I have not verified the other parts of section 5.3).

<!--
If this is a bug report, use the following part of the the template and delete the part at the bottom
-->
### Environment
<!-- Tell us about the environment -->
 - Operating system: Linux (Debian 9)
 - Software version: 4.1.1, 0.0.2018g9b7f95a-1pdns.stretch
 - Software source: PowerDNS repo

### Steps to reproduce
<!-- Tell us step-by-step how the issue can be triggered. Please include your configuration files and any (Lua) scripts that are loaded. -->
1. Enable DNSSEC validation on the recursor (`dnssec=validate`).
2. Request any record for any host in below a DNAME record.

Example for `slxh.nl` which has a DNAME to `slxh.eu`: `dig +dnssec -t A mail.slxh.nl`

### Expected behaviour
<!-- What would you expect to happen when the reproduction steps are run -->
The recursor returns the DNAME record, the synthesized CNAME and the response for the CNAME target. For the example above, this would be the same A record as `mail.slxh.eu`.

### Actual behaviour
<!-- What did happen? Please (if possible) provide logs, output from `dig` and/or tcpdump/wireshark data -->
The recursor returns SERVFAIL.

### Other information
<!-- if you already did more digging into the issue, please provide all the information you gathered -->
Relevant bit of the trace for `www.slxh.nl`:

```
[1] www.slxh.nl: Got 6 answers from ns1.slxh.eu (<snip>), rcode=0 (No Error), aa=1, in 7ms
[1] www.slxh.nl: accept answer 'slxh.nl|RRSIG|DNAME 13 2 86400 20180315000000 20180222000000 48322 slxh.nl. SdNc6GsKtT7Q+e4Jgp0eZElvcATfhr71qafD6FoOPqyuOBGk4ATSQLDu51sRLRZQYGgUAdVZZAi7hxAeU90rHg==' from 'slxh.nl' nameservers? ttl=86400, place=1 RRSIG - separate
[1] www.slxh.nl: accept answer 'www.slxh.eu|RRSIG|A 13 3 3600 20180315000000 20180222000000 15594 slxh.eu. T9XkK93kRDFOsxqBPQ7sCiuq79ObgcM7BNfJWFU8/BuC57L8Co4LN79W5xXngLJXGBVges+AgrAdTzYOR3r2NA==' from 'slxh.nl' nameservers? ttl=3600, place=1 NO!
[1] www.slxh.nl: accept answer 'www.slxh.nl|CNAME|www.slxh.eu.' from 'slxh.nl' nameservers? ttl=86400, place=1 YES!
[1] www.slxh.nl: accept answer 'www.slxh.eu|A|<snip> from 'slxh.nl' nameservers? ttl=3600, place=1 NO!
[1] www.slxh.nl: accept answer 'slxh.nl|DNAME|slxh.eu.' from 'slxh.nl' nameservers? ttl=86400, place=1 YES!
[1] www.slxh.nl: OPT answer '.' from 'slxh.nl' nameservers
[1] : got status Secure for name slxh.nl (from slxh.nl)
[1] : got initial zone status Secure for record slxh.nl
[1] : got status Secure for name www.slxh.nl (from slxh.nl)
[1] : got initial zone status Secure for record www.slxh.nl
[1] Validating non-additional record for www.slxh.nl
[1] Bogus!
[1] validation state was Secure, state update is Bogus, validation state is now Bogus
```

Note that the CNAME is followed and validated correctly even though the validation is already bogus:

```
[1] www.slxh.nl: updating validation state for response to www.slxh.nl from Bogus with the state from the CNAME quest: Secure
[1] validation state was Bogus, state update is Secure, validation state is now Bogus
```

<!--
Use the part below to file a feature request and delete the bug report part above.
-->
### Usecase
<!-- Tell what you're trying to achieve, without describing _what_ the requested feature should do -->
Redirect a subtree of the domain name tree in DNS. See [RFC 6672 section 6](https://tools.ietf.org/html/rfc6672#section-6).

### Description
<!-- Describe as extensively as possible what you want the software to do -->
Validate the DNAME record correctly as specified by RFC 6676.
This can be performed by validating the DNAME and synthesizing the CNAME on successful validation (the included CNAME can be compared or ignored).