DNAME at apex via API leads to "Conflicts with other RRSet"

 - Program: Authoritative
 - Issue type: Bug report

### Short description
Attempts to create a zone with a single DNAME via the API at the apex of the domain fail with the error: "Conflicts with another RRset"

### Environment
 - Operating system: Ubuntu (Bionic)
 - Software version: 4.2.1
 - Software source: deb [arch=amd64] http://repo.powerdns.com/ubuntu bionic-auth-42 main

### Steps to reproduce
1. Attempt to post `{"kind": "master", "name": "example.net.", "rrsets": [{"ttl": 3600, "name": "example.net.", "records": [{"content": "example.co.uk.", "disabled": false}], "type": "DNAME"}], "masters": [], "nameservers": []}` to the Zones API at `http://localhost:8081/api/v1/servers/localhost/zones`
2. Observe a reply `{"error": "RRset example.net. IN DNAME: Conflicts with another RRset"}`

### Expected behaviour
I'd expect the zone to be created, with a single DNAME at the apex of the domain.

### Actual behaviour
422 error from the API citing that it conflicts with another RRset.  No other RRset exists.

### Other information
I discussed this briefly on IRC with dwfreed - who assured me that DNAMEs could exist with other records.  I think, however, there's something odd going on with the apex of a domain here.

While I vaguely understand DNAMEs, I'm unsure if DNAME at the apex is permissible - seemingly not in PDNS as it stands, but I think it is in BIND (which one of my customers is moving away from).

RFC 6672 section 2.3 agrees:

```
   DNAME RRs MUST NOT appear at the same owner name as an NS RR unless
   the owner name is the zone apex; if it is not the zone apex, then the
   NS RR signifies a delegation point, and the DNAME RR must in that
   case appear below the zone cut at the zone apex of the child zone.

   If a DNAME record is present at the zone apex, there is still a need
   to have the customary SOA and NS resource records there as well.
   Such a DNAME cannot be used to mirror a zone completely, as it does
   not mirror the zone apex.
```

#7463 is the culprit.  Earlier in RFC 6672 section 2.3 is also a blanket coexistence statement:

```
   The domain name that owns a DNAME record is allowed to have other
   resource record types at that domain name, except DNAMEs, CNAMEs, or
   other types that have restrictions on what they can coexist with.
```

Are we sure this works on the DNS side?

> Are we sure this works on the DNS side?

yes:

```
$ dig axfr @127.0.0.1 -p5300 dname.example  

; <<>> DiG 9.14.8 <<>> axfr @127.0.0.1 -p5300 dname.example
; (1 server found)
;; global options: +cmd
dname.example.		3600	IN	SOA	a.misconfigured.powerdns.server. hostmaster.dname.example. 2 10800 3600 604800 3600
dname.example.		3600	IN	DNAME	dname-target.example.
dname.example.		3600	IN	NS	ns1.example.net.
dname.example.		3600	IN	SOA	a.misconfigured.powerdns.server. hostmaster.dname.example. 2 10800 3600 604800 3600
;; Query time: 4 msec
;; SERVER: 127.0.0.1#5300(127.0.0.1)
;; WHEN: Tue Dec 17 16:25:14 CET 2019
;; XFR size: 4 records (messages 3, bytes 345)

$ dig @127.0.0.1 -p5300 blabla.dname.example                                                                               

; <<>> DiG 9.14.8 <<>> @127.0.0.1 -p5300 blabla.dname.example
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 35417
;; flags: qr aa rd; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 1
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
;; QUESTION SECTION:
;blabla.dname.example.		IN	A

;; ANSWER SECTION:
blabla.dname.example.	3600	IN	CNAME	blabla.dname-target.example.
dname.example.		3600	IN	DNAME	dname-target.example.

;; Query time: 0 msec
;; SERVER: 127.0.0.1#5300(127.0.0.1)
;; WHEN: Tue Dec 17 16:25:17 CET 2019
;; MSG SIZE  rcvd: 117
```

Any news on when this might get fixed?