TTL of NS record not overwritten in the cache after explicit NS query

 - Program: Recursor
 - Issue type: Bug report

### Short description
If pdns resolver is used to resolve an A query for a domain example.com with a nameserver in-bailiwick like ns1.example.com, the software collect and caches the TTL information from the parent.
However, if an explicit NS query for example.com is performed after the A query, the provided answer is correct (contains the TTL of the child) but the TTL value is not overwritten in the cache.
This appears to be in contrast with RFC2181 Section 5.4.1.


### Environment
 - Operating system: CentOS 6,7 Ubuntu 16.04, 18.04 in a Docker Container
 - Software version: 4.1.9 (from source) Ubuntu 16 (4.11) Ubuntu 18 (4.00) CentOS 7 (4.19) CentOS 6 (3.7.4)
 - Software source: Packaged and Source archive.

### Steps to reproduce
Basic configuration:
local-address=0.0.0.0
allow-from=172.0.0.0/8
loglevel=7
max-cache-ttl=2419200

1. Perform an  A query.
2. Dump cache and check TTL of NS record (should be the parent one).
3. Perform an NS Query.
4. Dump cache and check TTL of NS record again.

### Expected behaviour
The expected value of the TTL in the cache is the one provided by the child.

### Actual behaviour
The actual value of the TTL in the cache is the one provided by the parent.

### Other information
The experiment is performed with minimal response enabled on the authoritative server side and with TTL on the parent of 2 days and 1 hour on the child.

In the two cache dumps, is the NS record `auth=0` or `auth=1?

Can you do the experiment with `threads=1` in your config?

Both cases `auth=0`
With threads=1 the problem disappear.

`auth=0` means that you are still seeing the answer from the parent, which might be because the recursor has per-thread caches so you might just not be looking at the right entry in the dump.

Appears to be a concurrency issue, I dumped the cache too fast before the thread writes the new information in the cache.
I close the issue,
Thanks a lot for helping me to investigate on this :)