auth: Can't AAAA with ::ffff:127.0.0.1 via API: Invalid IPv6 address

 - Program: Authoritative
 - Issue type: Bug report

### Short description
Creating an AAAA via the API with content `::ffff:127.0.0.1` fails, although that is an admissible format (see [RFC 4291 Section 2.2](https://www.rfc-editor.org/rfc/rfc4291#section-2.2), number 3). (This is about the format being rejected, not about the subnet being rejected.)

### Environment
 - Operating system: Linux
 - Software version: 4.8
 - Software source: PowerDNS repository

### Steps to reproduce
1. Creating an AAAA via the API with content `::ffff:127.0.0.1`

### Expected behaviour
Record is created

### Actual behaviour
Response code 422 with body `{"error": "Record adsjoif.com./AAAA '::ffff:127.0.0.1': Invalid IPv6 address"}`

Why did I stumble over this? -- Python 3.13 [uses this format](https://github.com/python/cpython/pull/29345) now. If one uses, e.g., dnspython to construct the record content payload, things go wrong:
```python
>>> import dns.rdata
>>> dns.rdata.from_text("IN", "AAAA", "::ffff:7f00:1").to_text()
'::ffff:127.0.0.1'
```